<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 ,maximum-scale=1">
    <title>easy Tutor</title>
    <link rel="icon" href="../assets/images/icon.png" sizes="192x192" />
    <meta name="description" content="easy tutor, online tutor">
  
    <!-- default css start -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <!-- default css ends -->
    <link href="../assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../assets/fonts/font.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/aos.css" />    
    <!-- default font start -->
    
	<link href="../assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/colors.css" rel="stylesheet" type="text/css">
    
    <!-- default font Ends -->
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/teacherstyle.css" />



    <script type="text/javascript" src="../assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="../assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="../assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

    <!-- Theme JS files -->
    
	<script type="text/javascript" src="../assets/js/plugins/forms/styling/uniform.min.js"></script>
	<script type="text/javascript" src="../assets/js/plugins/forms/selects/select2.min.js"></script>

	<script type="text/javascript" src="../assets/js/core/app.js"></script>
	<!-- <script type="text/javascript" src="../assets/js/pages/form_layouts.js"></script> -->
    <script type="text/javascript" src="../assets/js/pages/form_checkboxes_radios.js"></script>
    <script type="text/javascript" src="../assets/js/plugins/ui/ripple.min.js"></script>
</head>

<body class="tutor-wrap">
    <!--    preloader start-->
    <div id="preloader">
        <div class="loader-inner" style="z-index:9999999;">
            <img src="#" alt="">
            <p>Loading
                <span>.</span>
                <span>.</span>
                <span>.</span>
            </p>
        </div>
    </div>
    <!--    preloader start -->

    <!-- header start -->
    <header class="studenthome_header">
        <div class="navbar navbar-inverse bg-primary">
        <div class="navbar-header">
            <a class="navbar-brand home" href="index.html">
                <img src="../assets/images/logo.png" alt="">
            </a>

            <ul class="nav navbar-nav visible-xs-block mobile_menu">
                <li>
                    <a href="javascript:void(0)" data-toggle="collapse" data-target="#navbar-mobile">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav middle-menu">
                <li class="nav-item">
                        <a href="#" class="legitRipple">FIND TEACHER </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="legitRipple">THIS IS HOW IT WORKS</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="legitRipple">PRICES</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="legitRipple">CONTACT US</a>
                    </li>
            </ul>

            

            <ul class="nav navbar-nav navbar-right">
                
                
                
<li>
        <div class="indexright_login">
                <a class="" href="#">
                    <img src="../assets/images/login.png" alt="login">
              
                </a>

                <ul class="right-dropdown-menu">
                    <a class="login_sub" href="login.html">Login</a>
                    <a class="" href="register.html">Create Account</a>
                </ul>
            </div>
           
</li>
            
            </ul>
        </div>
        <div class="mobile_indexright_login dropdown">
           
                <a class="dropdown-toggle" type="button" data-toggle="dropdown"><img src="../assets/images/login.png" class="img-sm" alt="login"></a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="login.html">Login</a></li>
                  <li><a href="register.html">Create Account</a></li>                    
                </ul>
            
        </div>
    </div>
    </header>
    <!--    header Ends-->  
    <section class="onlineSection tutortraning_top">
        <div class="container text-center">
            <h1>About Easy-Tutor</h1>
            <p class="text-center howitwork1_bannercontent abouteasytutor_content3">Who are we and why do we do that?</p>
           </div>

    </section>
    

   

    <div class="page-container teachertraning_wrap howitworks2_wrap">

    <div class="page-content">
     

        <div class="content-wrapper teachertraning_sub howitwork_sub">

    
        <div class="graybg teachertraning_sub_container">
            <div class="container">
             
            <div class="row">
                
            <div class="col-md-8">
                   
            <div class="Professionalonline_content23 abouteasytutor_contentsub">
             <h3>"It just had to be found a good solution"</h3>
             <p>When Massimo Cancellara and Alexander Liebisch met at the "Faculty of Mechanical Engineering" at the Munich University of Applied Sciences, the subject of tutoring for both was initially just a job to finance the study of their future profession. The fact that after leaving school the job could not only become a profession, but even a company of its own was not foreseeable at first</p>
             <p>On the other hand, for both the own work as a tutor the basis of the business idea for their startup: Munich is big and who as a tutor two students in different parts of the city visited in a row, spends more time on the street than with the tutoring. If you order your students, the problem will only be thrown on the youngsters with their tight schedules between long school days, violin lessons and sports clubs.</p>
             <p class="italic_style"> Her idea: "It would have to be much simpler, at the same time more concentrated and more efficient for everyone involved.</p>
            <p>Massimo Cancellara explored the market for tutoring and as a teacher tested the strengths and weaknesses of various institutes. A market observation with the aim to offer the best model for tutoring. It was clear from the beginning - <strong>the best way to help students is personal one-to-one lessons.</strong></p>
            <p>The technical basis, according to Alexander Liebisch with many software tests, would have to be a videoconferencing system that offers maximum security, is easy to use and makes teaching materials available after class. The software that Easy-Tutor perfected for his tutoring solution is otherwise used as a conference tool in large companies - and children are more versed than many CEOs.</p>
            </div>
            </div>
            <div class="col-md-4">
                <figure class="typicaltutorial_img Flexibletime_img abouteasytutor_img">
               <img src="../assets/images/Alexander-Liebisch-e1510838695220.png" class=" img-responsive center-block firstimg"> 
               <figurecaption>Alexander Liebisch</figurecaption>
            </figure>
              
        </div>
             </div>
             <div class="row massimocancellara_sub">
                    
                <div class="col-md-8 howitwork_rightsub">
                       
                <div class="Professionalonline_content23 abouteasytutor_contentsub">
                 <h3 class="text-right">"We are now happy to help so many students."</h3>
                 <p>Already today, Easy-Tutor has a virtual teacher's room with over 40 teachers and the student base of a medium-sized school. From their vision, Easy-Tutor grew into a highly functional platform that combines many benefits: The initial fear that online education could be less focused than on-site tutoring was unfounded. On the contrary, the medium turned out to be one of the biggest strengths. <strong>Students today are so technology-affine that the monitors of laptops or tablets even allow a distraction-free learning,</strong> The teacher is not sitting next to his students, but opposite them - with eye contact and the ability to use the monitor with a tablet as a common board. Each worksheet, every learning progress will be transferred to the Easy-Tutor-Cloud during the lesson, where the results will be accessible at any time afterwards.</p>
                 <p>Just as Easy-Tutor presents himself today, Massimo and Alexander have succeeded in transforming their core concern into a functioning system: a learning platform that more effectively supports parents and students - and that teachers and tuition students still meet each other directly. <strong>Just a whole new form of tutoring, which supports all the benefits of individual teaching with the technical resources of the Internet</strong>.With a perfect document storage for teaching material, with the ability to use the monitor not only as a classroom, but also as a blackboard. Easy-Tutor is so playful that it motivates students and at the same time so focused that no concentration gaps occur. The fact that it saves driving times of teachers, students and parents and can help even more quickly with flexible deadlines is a special bonus.</p>
                 </div>
                </div>
                <div class="col-md-4 howitwork_leftsub">
                    <figure class="typicaltutorial_img Flexibletime_img abouteasytutor_img1">
                   <img src="../assets/images/Massimo-Cancellara-e1510838985554-200x200.png" class=" img-responsive center-block firstimg"> 
                   <figurecaption>Massimo Cancellara</figurecaption>
                </figure>
                  
            </div>
                 </div>
            </div>
            </div>

        



        </div>


    </div>

    </div>
</div>


<section class="readytostart howitwork_readytostart">
        <div class="container">
<h3 class="create_head_read">You would like to get to know us?</h3>


 <a class="btn choose_triallesson howitwork3_contact">Contant</a>
        </div>
 </div>
</section>



    <!--    footer Start-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <h4 class="theme">Legal</h4>
                    <ul>
                        <li>
                            <a href="../imprint.html">Imprint</a>
                        </li>
                        <li>
                            <a href="../Privacy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Conditions</a>
                        </li>
                        <li>
                            <a href="../cancellation.html">Cancellation</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4 class="theme">More Information</h4>
                    <ul>
                        <li>
                            <a href="../imprint.html">Imprint</a>
                        </li>
                        <li>
                            <a href="../Privacy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Conditions</a>
                        </li>
                        <li>
                            <a href="../cancellation.html">Cancellation</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4 class="theme">Companies</h4>
                    <ul>
                        <li>
                            <a href="../imprint.html">Imprint</a>
                        </li>
                        <li>
                            <a href="../Privacy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Conditions</a>
                        </li>
                        <li>
                            <a href="../cancellation.html">Cancellation</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4 class="theme">Feeds</h4>
                    <div class="single-item" style="width:140px;">
                        <div>
                            <img src="../assets/images/expert.png" alt="" />
                        </div>
                        <div>
                            <img src="../assets/images/proven_icon.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footerBottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-left">
                         <!-- chat box for query start -->
                         <div class="chatbox">
                                <form class="formBox" method="post">
                                    <div class="card">
                                        <div class="card-header">
                                            Request to the Easy-Tutor Team. <i class="fa fa-angle-down pull-right"></i>
                                        </div>
                                        <div class="card-block">
                                            <div class="card1">
                                            <h4 class="card-title">Open questions about online tutoring? Leave a message to the Easy-Tutor team and we'll get back to you as soon as possible!</h4>
                                            <div class="form-group">
                                                    <label class="form-inline">Email Id</label>
                                                    <input class="form-control" name="email" type="email" required />
                                                    <span class="alert alert-danger">Invalive value</span>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-inline">Name</label>
                                                    <input class="form-control" name="name" type="text" required />
                                                    <span class="alert alert-danger">Invalive name please try again</span>
                                                </div> 
                                                <div class="form-group">
                                                        <label class="form-inline">Mobile</label>
                                                        <input class="form-control" name="name" type="tel" required />
                                                        <span class="alert alert-danger">Invalive mobile no</span>
                                                </div> 
                                                <div class="form-group">
                                                    <button href="#" class="btn btn-default continueBtn">Continue</button>
                                                </div>             
                                            </div>
                                            <div class="card2">
                                                <br>
                                                    <small>Unfortunately we are not online right now. Leave us a message and we'll get back to you as soon as possible!</small>                                                
                                                    <br>
                                                    <div class="form-group">                                                
                                                    <br>
                                                    <label class="form-inline">Message</label>
                                                    <textarea class="form-control" placeholder=""></textarea>                                                
                                                </div>
                                                <div class="form-group">
                                                    <button href="#" class="btn btn-default">Send &nbsp;<i class="fa fa-paper-plane-o"></i></button>
                                                </div>             
                                            </div>                
                                                <!-- <div class="row">
                                                    <div class="btnWrapper text-center col-sm-12">
                                                        <input class="btn btn-default" type="submit" value="" />
                                                    </div>                                               
                                                </div> -->
                                        </div>
                                    </div>
    
                                </form>
                            </div>
                            <!-- chat box for query Ends -->
                        <a href="#">
                            <p class="needHelp">Need Help? Chat with Us</p>
                        </a>
                    </div>
                    <div class="col-md-6 text-right">
                        <ul class="socialLinks">
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--    footer Ends-->
    <script src="../assets/js/jquery-3.2.1.min.js"></script>
    <script src="../assets/js/popper.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>  
    <script src="../assets/js/slick.min.js"></script>
    <script src="../assets/js/aos.js"></script>    
    <script src="../assets/js/custom.js"></script>

    <!-- The Login Modal -->
    <div class="modal fade" id="login">
        <div class="modal-dialog">
            <figure class="text-center">
                <img class="popupLogo" src="../assets/images/popup_logo.png" />
            </figure>
            <div class="modal-content">
                <!-- Modal Header -->
                <!-- <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div> -->

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="index.html" method="post" class="formBox">
                        <div class="form-group">
                            <label class="form-inline">Email Id</label>
                            <input class="form-control" name="email" type="email" required />
                            <span class="alert alert-danger">Invalive value</span>
                        </div>
                        <div class="form-group">
                            <label class="form-inline">Password</label>
                            <input class="form-control" name="password" type="password" required />
                            <span class="alert alert-danger">Invalive pass</span>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="rememberme" />
                                <span>Remember Me</span>
                            </label>
                        </div>
                        <div class="row">
                            <div class="btnWrapper text-center col-sm-12">
                                <input class="btn btn-default" type="submit" />
                            </div>
                            <div class="col-sm-6 text-left"><a href="forgatePassword.html">Forget Password</a></div>
                            <div class="col-sm-6 text-right"><a href="#">New User?</a></div>
                        </div>                        
                    </form>
                </div>

                <!-- Modal footer
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>         -->
            </div>
            <div class="clearfix"></div>
            <a href="#" class="close backtoHome" data-dismiss="modal">
                <img src="../assets/images/arrow-left.png" alt="bkhome" />&nbsp; Back to Easy-tutor</a>
        </div>
    </div>   
 
   
		
</body>

</html>