<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 ,maximum-scale=1">
    <title>easy Tutor</title>
    <link rel="icon" href="../assets/images/icon.png" sizes="192x192" />
    <meta name="description" content="easy tutor, online tutor">
  
    <!-- default css start -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <!-- default css ends -->
    <link href="../assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../assets/fonts/font.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/aos.css" />    
    <!-- default font start -->
    
	<link href="../assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/colors.css" rel="stylesheet" type="text/css">
    
    <!-- default font Ends -->
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/teacherstyle.css" />



    <script type="text/javascript" src="../assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="../assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="../assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

    <!-- Theme JS files -->
    
	<script type="text/javascript" src="../assets/js/plugins/forms/styling/uniform.min.js"></script>
	<script type="text/javascript" src="../assets/js/plugins/forms/selects/select2.min.js"></script>

	<script type="text/javascript" src="../assets/js/core/app.js"></script>
   
</head>

<body class="tutor-wrap">
    <!--    preloader start-->
    <div id="preloader">
        <div class="loader-inner" style="z-index:9999999;">
            <img src="#" alt="">
            <p>Loading
                <span>.</span>
                <span>.</span>
                <span>.</span>
            </p>
        </div>
    </div>
    <!--    preloader start -->

    <!-- header start -->
    <header class="studenthome_header">
        <div class="navbar navbar-inverse bg-primary">
        <div class="navbar-header">
            <a class="navbar-brand home" href="index.html">
                <img src="../assets/images/logo.png" alt="">
            </a>

            <ul class="nav navbar-nav visible-xs-block mobile_menu">
                <li>
                    <a href="javascript:void(0)" data-toggle="collapse" data-target="#navbar-mobile">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav middle-menu">
                <li class="nav-item">
                        <a href="#" class="legitRipple">FIND TEACHER </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="legitRipple">THIS IS HOW IT WORKS</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="legitRipple">PRICES</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="legitRipple">CONTACT US</a>
                    </li>
            </ul>

            

            <ul class="nav navbar-nav navbar-right">
                
                
                
<li>
        <div class="indexright_login">
                <a class="" href="#">
                    <img src="../assets/images/login.png" alt="login">
              
                </a>

                <ul class="right-dropdown-menu">
                    <a class="login_sub" href="login.html">Login</a>
                    <a class="" href="register.html">Create Account</a>
                </ul>
            </div>
           
</li>
            
            </ul>
        </div>
        <div class="mobile_indexright_login dropdown">
           
                <a class="dropdown-toggle" type="button" data-toggle="dropdown"><img src="../assets/images/login.png" class="img-sm" alt="login"></a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="login.html">Login</a></li>
                  <li><a href="register.html">Create Account</a></li>                    
                </ul>
            
        </div>
    </div>
    </header>
    <!--    header Ends-->  
    <section class="onlineSection affiliateprogram_banner">
        <div class="container text-center">
            <h1>Affiliate Affiliate Program</h1>
            <p class="text-center">For all those who work in education and want to grow together with Easy-Tutor.</p>
           </div>

    </section>
    

   

    <div class="page-container teachertraning_wrap howitworks1_wrap">

    <div class="page-content">
     

        <div class="content-wrapper teachertraning_sub howitwork_sub">

        <div class="graybg teachertraning_sub_container affiliateprogram_container">
        <div class="container">
         
        <div class="row">
        
        <div class="col-md-12">
       <h2 class="grow_head6">Grow together with Easy-Tutor</h2>
       <h2 class="onlinehead_head">The biggest affiliate program for online lessons</h2>
       <div class="onlinehead_content27">Our affiliate program is ideal for you if you work in education or reach a large reach of adolescents and their parents. <br/>
        It is especially interesting for the following groups:</div>
     <div class="howwork_content"><i class="fa fa-check"></i><p>Website Owners</p></div>
     <div class="howwork_content"><i class="fa fa-check"></i><p>Blog or magazine operator</p></div>
     <div class="howwork_content"><i class="fa fa-check"></i><p>Influencers on Instagram, Facebook, Youtube etc.</p></div>
     <div class="onlinehead_content28">If you would like to participate in our affiliate program, please contact us. Only websites that we have personally reviewed will be approved.</div>
    
     <a class="btn signupnow">Sign up now</a>

     <h2>Contact Person</h2>
     <div class="contactperson_content1">If you have any questions or suggestions, please contact our Affiliate Marketing Contact:</div>
     <div class="contactperson_content2"><strong>Alexander Liebisch</strong><br/>
        E-Mail: <a href="mailto:liebisch@easy-tutor.de">liebisch@easy-tutor.de</a></div>


        </div>
         </div>
        </div>
        </div>
        </div>


    </div>

    </div>
</div>




    <!--    footer Start-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <h4 class="theme">Legal</h4>
                    <ul>
                        <li>
                            <a href="../imprint.html">Imprint</a>
                        </li>
                        <li>
                            <a href="../Privacy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Conditions</a>
                        </li>
                        <li>
                            <a href="../cancellation.html">Cancellation</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4 class="theme">More Information</h4>
                    <ul>
                        <li>
                            <a href="../imprint.html">Imprint</a>
                        </li>
                        <li>
                            <a href="../Privacy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Conditions</a>
                        </li>
                        <li>
                            <a href="../cancellation.html">Cancellation</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4 class="theme">Companies</h4>
                    <ul>
                        <li>
                            <a href="../imprint.html">Imprint</a>
                        </li>
                        <li>
                            <a href="../Privacy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Conditions</a>
                        </li>
                        <li>
                            <a href="../cancellation.html">Cancellation</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4 class="theme">Feeds</h4>
                    <div class="single-item" style="width:140px;">
                        <div>
                            <img src="../assets/images/expert.png" alt="" />
                        </div>
                        <div>
                            <img src="../assets/images/proven_icon.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footerBottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-left">
                         <!-- chat box for query start -->
                         <div class="chatbox">
                                <form class="formBox" method="post">
                                    <div class="card">
                                        <div class="card-header">
                                            Request to the Easy-Tutor Team. <i class="fa fa-angle-down pull-right"></i>
                                        </div>
                                        <div class="card-block">
                                            <div class="card1">
                                            <h4 class="card-title">Open questions about online tutoring? Leave a message to the Easy-Tutor team and we'll get back to you as soon as possible!</h4>
                                            <div class="form-group">
                                                    <label class="form-inline">Email Id</label>
                                                    <input class="form-control" name="email" type="email" required />
                                                    <span class="alert alert-danger">Invalive value</span>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-inline">Name</label>
                                                    <input class="form-control" name="name" type="text" required />
                                                    <span class="alert alert-danger">Invalive name please try again</span>
                                                </div> 
                                                <div class="form-group">
                                                        <label class="form-inline">Mobile</label>
                                                        <input class="form-control" name="name" type="tel" required />
                                                        <span class="alert alert-danger">Invalive mobile no</span>
                                                </div> 
                                                <div class="form-group">
                                                    <button href="#" class="btn btn-default continueBtn">Continue</button>
                                                </div>             
                                            </div>
                                            <div class="card2">
                                                <br>
                                                    <small>Unfortunately we are not online right now. Leave us a message and we'll get back to you as soon as possible!</small>                                                
                                                    <br>
                                                    <div class="form-group">                                                
                                                    <br>
                                                    <label class="form-inline">Message</label>
                                                    <textarea class="form-control" placeholder=""></textarea>                                                
                                                </div>
                                                <div class="form-group">
                                                    <button href="#" class="btn btn-default">Send &nbsp;<i class="fa fa-paper-plane-o"></i></button>
                                                </div>             
                                            </div>                
                                                <!-- <div class="row">
                                                    <div class="btnWrapper text-center col-sm-12">
                                                        <input class="btn btn-default" type="submit" value="" />
                                                    </div>                                               
                                                </div> -->
                                        </div>
                                    </div>
    
                                </form>
                            </div>
                            <!-- chat box for query Ends -->
                        <a href="#">
                            <p class="needHelp">Need Help? Chat with Us</p>
                        </a>
                    </div>
                    <div class="col-md-6 text-right">
                        <ul class="socialLinks">
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--    footer Ends-->
    <script src="../assets/js/jquery-3.2.1.min.js"></script>
    <script src="../assets/js/popper.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>  
    <script src="../assets/js/slick.min.js"></script>
    <script src="../assets/js/aos.js"></script>    
    <script src="../assets/js/custom.js"></script>

    <!-- The Login Modal -->
    <div class="modal fade" id="login">
        <div class="modal-dialog">
            <figure class="text-center">
                <img class="popupLogo" src="../assets/images/popup_logo.png" />
            </figure>
            <div class="modal-content">
                <!-- Modal Header -->
                <!-- <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div> -->

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="index.html" method="post" class="formBox">
                        <div class="form-group">
                            <label class="form-inline">Email Id</label>
                            <input class="form-control" name="email" type="email" required />
                            <span class="alert alert-danger">Invalive value</span>
                        </div>
                        <div class="form-group">
                            <label class="form-inline">Password</label>
                            <input class="form-control" name="password" type="password" required />
                            <span class="alert alert-danger">Invalive pass</span>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="rememberme" />
                                <span>Remember Me</span>
                            </label>
                        </div>
                        <div class="row">
                            <div class="btnWrapper text-center col-sm-12">
                                <input class="btn btn-default" type="submit" />
                            </div>
                            <div class="col-sm-6 text-left"><a href="forgatePassword.html">Forget Password</a></div>
                            <div class="col-sm-6 text-right"><a href="#">New User?</a></div>
                        </div>                        
                    </form>
                </div>

                <!-- Modal footer
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>         -->
            </div>
            <div class="clearfix"></div>
            <a href="#" class="close backtoHome" data-dismiss="modal">
                <img src="../assets/images/arrow-left.png" alt="bkhome" />&nbsp; Back to Easy-tutor</a>
        </div>
    </div>   
    
		
</body>

</html>