<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>easy Tutor</title>
	<link rel="icon" href="../assets/images/icon.png" sizes="192x192" />
	<meta name="description" content="easy tutor, online tutor">
	<!-- Global stylesheets -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css"> -->
	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	<link href="../assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/core.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/components.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/colors.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/style.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/responsive.css" rel="stylesheet" type="text/css">

	<!-- /global stylesheets -->


	<!-- Core JS files -->
	<script type="text/javascript" src="../assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="../assets/js/core/libraries/jquery.min.js"></script>
    <script src="../assets/js/slick.min.js"></script>
    <script src="../assets/js/aos.js"></script>    
    <script src="../assets/js/custom.js"></script>
	<script type="text/javascript" src="../assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="../assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="../assets/js/plugins/forms/wizards/steps.min.js"></script>
	<script type="text/javascript" src="../assets/js/plugins/forms/selects/select2.min.js"></script>
	<script type="text/javascript" src="../assets/js/plugins/forms/styling/uniform.min.js"></script>
	<script type="text/javascript" src="../assets/js/plugins/forms/styling/switch.min.js"></script>
	<script type="text/javascript" src="../assets/js/core/libraries/jasny_bootstrap.min.js"></script>
	<script type="text/javascript" src="../assets/js/plugins/forms/validation/validate.min.js"></script>
	<script type="text/javascript" src="../assets/js/plugins/extensions/cookie.js"></script>

	<script type="text/javascript" src="../assets/js/core/app.js"></script>
	<script type="text/javascript" src="../assets/js/pages/wizard_steps.js"></script>
	<script type="text/javascript" src="../assets/js/pages/form_checkboxes_radios.js"></script>
	<script type="text/javascript" src="../assets/js/plugins/ui/ripple.min.js"></script>
	

	<!-- /theme JS files -->

</head>

<body class="navbar-bottom login-container" style="background-image: url('../assets/images/betterLearningBg2.png');background-repeat: no-repeat;
background-position: center;
background-size: cover;">

	<div class="navbar navbar-inverse bg-primary">
		<div class="navbar-header">
			<a class="navbar-brand" href="../index.html">
				<img src="../assets/images/logo.png" alt="">
			</a>

			<!-- <ul class="nav navbar-nav pull-right visible-xs-block">
			<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
		</ul> -->
		</div>
	</div>

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">
				<div class="panel login-form">

					<form class="steps-basic" action="#">
						<h6></h6>
						<fieldset>
							<div class="form-group has-feedback has-feedback-left">
								<input type="text" class="form-control" placeholder="Email ID" required>
								<div class="form-control-feedback">
									<i class="icon-envelop5 text-muted"></i>
								</div>
							</div>

							<div class="form-group has-feedback has-feedback-left">
								<input type="password" class="form-control" placeholder="Password" required>
								<div class="form-control-feedback">
									<i class="icon-lock2 text-muted"></i>
								</div>
							</div>
							<div class="form-group has-feedback has-feedback-left">
								<input type="password" class="form-control" placeholder="Confirm Password" required>
								<div class="form-control-feedback">
									<i class="icon-file-locked2 text-muted"></i>
								</div>
							</div>
							<div class="form-group has-feedback has-feedback-left">
								<h5 class="text-center">OR</h5>
							</div>
							<div class="form-group text-center">
								<label class="btn bg-info-800 btn-sm btn-rounded">Login with
									<i class="icon-facebook"></i>
								</label>
								<label class="btn bg-danger btn-sm btn-rounded">Login with
									<i class="icon-google-plus"></i>
								</label>
							</div>

						</fieldset>

						<h6></h6>
						<fieldset>
							<div class="form-group select_teacher_option">
									<label class="display-block text-semibold">You are:</label>
								<label class="radio-inline radio-right">
									<input type="radio" name="studentRdo" value="studentRdo" class="styled" checked="checked"> Student
								</label>

								<label class="radio-inline radio-right">
									<input type="radio" name="studentRdo" value="parentRdo" class="styled">Parent
								</label>
							</div>
							<div class="form-group has-feedback has-feedback-left" id="parentFindTeacher">
									<input type="text" class="form-control" placeholder="Name of Parent" required>
									<div class="form-control-feedback">
										<i class="icon-user text-muted"></i>
									</div>
								</div>
							<div class="form-group has-feedback has-feedback-left">
								<input type="text" class="form-control" placeholder="Name of Student" required>
								<div class="form-control-feedback">
									<i class="icon-reading text-muted"></i>
								</div>
							</div>

							<div class="form-group has-feedback-left">
								<div class="form-control-feedback">
									<i class="icon-office text-muted"></i>
								</div>
								<select name="birth-month" data-placeholder="Type of school" class="select" required>
									<option></option>
									<option value="1">January</option>
									<option value="2">February</option>
									<option value="3">March</option>
									<option value="4">April</option>
								</select>
							</div>
							<div class="form-group has-feedback-left">
								<div class="form-control-feedback">
									<i class="icon-sort-amount-desc text-muted"></i>
								</div>
								<select name="birth-month" data-placeholder="Class Level" class="select" required>
									<option></option>
									<option value="1">Level 1</option>
									<option value="2">Level 2</option>
									<option value="3">Level 3</option>
								</select>
							</div>
							<div class="form-group has-feedback has-feedback-left">
								<input type="text" class="form-control" placeholder="Mobile Number" required>
								<div class="form-control-feedback">
									<i class="icon-address-book3 text-muted"></i>
								</div>
							</div>
							<div class="form-group has-feedback has-feedback-left">
								<div class="checkbox">
									<label>
										<input type="checkbox" class="styled" required/>
										<small style="font-size:12px;">By registering, you are acetping our <a href="" class="text-primary">terms and condition and privacy policy</a> </small>
									</label>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
				<!-- /basic setup -->			

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->


	<!-- Footer -->
	<div class="navbar navbar-default navbar-fixed-bottom footer">
		<ul class="nav navbar-nav visible-xs-block">
			<li>
				<a class="text-center collapsed" data-toggle="collapse" data-target="#footer">
					<i class="icon-circle-up2"></i>
				</a>
			</li>
		</ul>

		<div class="navbar-collapse collapse" id="footer">
			<div class="navbar-text">
				&copy; 2016-2017 -
				<a href="#" class="navbar-link">Easy-Tutor</a>
				<!-- by <a href="http://themeforest.net/user/Kopyov" class="navbar-link" target="_blank">Eugene Kopyov</a> -->
			</div>

			<div class="navbar-right">
				<ul class="nav navbar-nav">
					<li>
						<a href="#">About</a>
					</li>
					<li>
						<a href="#">Terms</a>
					</li>
					<li>
						<a href="#">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /footer -->

</body>

</html>