<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 ,maximum-scale=1">
    <title>easy Tutor</title>
    <link rel="icon" href="../assets/images/icon.png" sizes="192x192" />
    <meta name="description" content="easy tutor, online tutor">
  
    <!-- default css start -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <!-- default css ends -->
    <link href="../assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../assets/fonts/font.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/aos.css" />    
    <!-- default font start -->
    
	<link href="../assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/colors.css" rel="stylesheet" type="text/css">
    
    <!-- default font Ends -->
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/teacherstyle.css" />



    <script type="text/javascript" src="../assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="../assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="../assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

    <!-- Theme JS files -->
    
	<script type="text/javascript" src="../assets/js/plugins/forms/styling/uniform.min.js"></script>
	<script type="text/javascript" src="../assets/js/plugins/forms/selects/select2.min.js"></script>

	<script type="text/javascript" src="../assets/js/core/app.js"></script>
	
    <!-- <script type="text/javascript" src="../assets/js/plugins/ui/ripple.min.js"></script> -->
</head>

<body class="tutor-wrap">
    <!--    preloader start-->
    <div id="preloader">
        <div class="loader-inner" style="z-index:9999999;">
            <img src="#" alt="">
            <p>Loading
                <span>.</span>
                <span>.</span>
                <span>.</span>
            </p>
        </div>
    </div>
    <!--    preloader start -->

    <!-- header start -->
    <header class="studenthome_header">
        <div class="navbar navbar-inverse bg-primary">
        <div class="navbar-header">
            <a class="navbar-brand home" href="index.html">
                <img src="../assets/images/logo.png" alt="">
            </a>

            <ul class="nav navbar-nav visible-xs-block mobile_menu">
                <li>
                    <a href="javascript:void(0)" data-toggle="collapse" data-target="#navbar-mobile">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav middle-menu">
                <li class="nav-item">
                        <a href="#" class="legitRipple">FIND TEACHER </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="legitRipple">THIS IS HOW IT WORKS</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="legitRipple">PRICES</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="legitRipple">CONTACT US</a>
                    </li>
            </ul>

            

            <ul class="nav navbar-nav navbar-right">
                
                
                
<li>
        <div class="indexright_login">
                <a class="" href="#">
                    <img src="../assets/images/login.png" alt="login">
              
                </a>

                <ul class="right-dropdown-menu">
                    <a class="login_sub" href="login.html">Login</a>
                    <a class="" href="register.html">Create Account</a>
                </ul>
            </div>
           
</li>
            
            </ul>
        </div>
        <div class="mobile_indexright_login dropdown">
           
                <a class="dropdown-toggle" type="button" data-toggle="dropdown"><img src="../assets/images/login.png" class="img-sm" alt="login"></a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="login.html">Login</a></li>
                  <li><a href="register.html">Create Account</a></li>                    
                </ul>
            
        </div>
    </div>
    </header>
    <!--    header Ends-->  
    <section class="onlineSection tutortraning_top">
        <div class="container text-center">
            <h1>Students benefit from online tutoring. And her parents.</h1>
            <p class="text-center howitwork1_bannercontent">Anyone who thinks of tutoring still thinks most of the time about classroom tutoring: Usually the tutors look for the students or the 
                students find an institute for their tutoring sessions. There are many good reasons to move the student tutoring to the Internet, as is now commonplace in 
                many other services. Especially with the online tutoring system Easy-Tutor, which combines the many advantages of the Internet medium with those of the 
                presence tutoring.</p>
           </div>

    </section>
    

   

    <div class="page-container teachertraning_wrap howitworks2_wrap">

    <div class="page-content">
     

        <div class="content-wrapper teachertraning_sub howitwork_sub">

        <div class="graybg teachertraning_sub_container">
        <div class="container">
         
        <div class="row">
            <div class="row">
            <div class="col-sm-12">
            <h2 class="text-center onlinehead_head">Professional online tutoring - not just pure mediation</h2>
            </div>
            </div>
        <div class="col-md-4">
            <figure class="typicaltutorial_img">
           <img src="../assets/images/Schülerin-bei-Nachhilfe.png" class=" img-responsive center-block firstimg typicaltutoring_img7"/> 
           <figurecaption>A typical tutoring session with Easy-Tutor.</figurecaption>
        </figure>
          
    </div>
        <div class="col-md-8">
               
     <!-- <div class="howwork_content new compare23"><i class="fa fa-smile-o"></i><p><strong>New</strong> - Decide without risk for one of our savings packages thanks to our  <strong><a href="#">Satisfaction Guarantee!</a></strong></p></div>
     <div class="howwork_content new"><i class="fa fa-lightbulb-o"></i><p><strong>Tip - <a href="#">Create a user</a></strong> to arrange a non-binding trial lesson. Only test for free and then decide is Easy-Tutor no problem!
        </p></div> -->
        <div class="Professionalonline_content23">
         <h3>Selection of tutors</h3>
         <p>Especially in rural areas, it is often not easy to find good and humane matching tutor teachers who have no long way to go for classroom hours. The choice among online tutoring is greater, because the students can choose independently regionally. For example, students at Easy-Tutor are more likely to find the right teacher, with whom they can understand each other well and with whom the collaboration also works humanly. <a href="#">Here you can arrange appointments with our teachers.</a></p>
         <h3 class="Professionalonline_subhead23">Online tutoring with Easy-Tutor offers more advantages than presence tutoring</h3>
         <p>Without media discontinuity, online tutoring allows teachers and students to work in concert with virtual media, playful methods, animated graphics and other resources offered by the Internet. The teacher can quickly respond with appropriate methods through direct conversation with his student if the student does not understand something. And by the way this form of tutoring also promotes the media literacy of the students. <a href="#">This is how Easy-Tutor works.</a></p>
        </div>
        </div>
         </div>
        </div>
        </div>

        <div class="whitebg teachertraning_sub_container">
                <div class="container">
            <div class="row">
           <div class="col-sm-6">
            <div class="howwork_content"><i class="fa fa-check"></i> <p class="text-bold">Focus and concentration</p></div>
            <p class="focus_content23">When learning online, students are focused and focused. External influences are hidden. They focus on sharing with their teacher and visualizing the learning content on the screen.</p>
           
            <div class="howwork_content"><i class="fa fa-check"></i> <p class="text-bold">Foreign language tutoring with native speakers</p></div>
            <p>Native speakers are a huge help in learning foreign languages. Via online tutoring, it is easy to take private lessons in French with a tutor who is a native speaker.</p>
           </div>
           <div class="col-sm-6">
            <div class="howwork_content"><i class="fa fa-check"></i> <p class="text-bold">Students are much more motivated online</p></div>
            <p class="focus_content23">Young people are often and like online, feel at home on the computer and "at home". This is how online learning feels so natural to them, they often prefer to work online rather than using traditional media. And if learning is fun, it works better too.</p>
           
            <div class="howwork_content"><i class="fa fa-check"></i> <p class="text-bold">The ideal room for restrained personalities</p></div>
            <p>The 1: 1 learning situation between tutor and student leads to the fact that also introverted personalities can be optimally supported. The personal and yet on the monitor cooperation makes it easy for many to go out and get involved in the lessons.</p>
           
           </div>
            </div>          
         </div>
        </div>


        <div class="graybg teachertraning_sub_container">
            <div class="container">
             
            <div class="row">
                <div class="row">
                <div class="col-sm-12">
                <h2 class="text-center onlinehead_head">Easy scheduling. Flexible time management.</h2>
                </div>
                </div>
            
            <div class="col-md-8">
                   
            <div class="Professionalonline_content23 Flexibletime_content23">
             <h3>Spontaneity and quantitative flexibility of tuition possible</h3>
             <p>Easy-Tutor not only books regular tutoring lessons online on a weekly basis, but also additional units for acute needs, such as math work that is all too often "tomorrow".</p>
             <p>Easy Tutor offers hourly packages that allow you to book lessons whenever and in whatever discipline you need them. For example, if a particular topic is currently causing particular difficulties in understanding. Or if a longer homework assignment or a presentation has to be processed.</p>
             <h3 class="Professionalonline_subhead23">Tutors also possible for students who are permanently or temporarily not mobile</h3>
             <p>Even with illness or permanent immobility, students can participate in the online tutoring. Easy from home. Thus, a broken leg does not automatically lead to bad school grades. Even if classmates do not come by every day to discuss their homework.</p>
            <div class="row">
            <div class="col-md-6">
                <h3 class="Professionalonline_subhead23">Time savings</h3>
                <p>The time that tuition students and often their parents need to travel to or from tutoring can be used for other activities</p>
               
            </div>
            <div class="col-md-6">
                <h3 class="Professionalonline_subhead23">Flexible time windows</h3>
                <p>Learning times and the duration of the lessons should be more flexible for online students than for on-site tutoring.</p>
               
            </div>
            </div>
            </div>
            </div>
            <div class="col-md-4">
                <figure class="typicaltutorial_img Flexibletime_img">
               <img src="../assets/images/Peace-Insta-1024x1024-circle.png" class=" img-responsive center-block firstimg"> 
               <figurecaption>Easy-Tutor tutor welcomes a student</figurecaption>
            </figure>
              
        </div>
             </div>
            </div>
            </div>


        


        <div class="bluebg teachertraning_sub_container">
                <div class="container">
                        <div class="row">
                    <div class="col-md-12 Professionalonline_content23 Flexibletime_content23">
                        <div class="row">
                            <div class="col-sm-12">
                            <h2 class="text-center onlinehead_head font-weight">Easy-to-use media and tools</h2>
                            </div>
                            </div>
                
                <h3>Good archiving of information</h3>
                         <p>Good archiving of information
                            In the Easy Tutor cloud, teachers and students save their documents, so that the students have access to their neatly filed documents at any time afterwards. Working with the online whiteboard at Easy-Tutor feels like the students are in the same room as your teacher. In addition, the archiving of the whiteboard entries ensures that information is archived for later, so that no paper is needed.</p>
                         <h3 class="Professionalonline_subhead23">All required material is always ready</h3>
                         <p>The students are in the online tutoring in their own rooms, so they always have all textbooks and materials ready, which could be needed during the tutoring. Forgot your worksheet? Not available any more. And if there is something to research or look up to during the lesson: lessons take place via the Internet. Both therefore always have access to the largest possible source of information.</p>
                        
                    </div>
                    </div>
                        </div>
        </div> 

        <div class="whitebg teachertraning_sub_container">
                <div class="container">
                        <div class="row">
                            <div class="col-md-12 Professionalonline_content23 Flexibletime_content23">
                                <div class="row">
                                    <div class="col-sm-12">
                                    <h2 class="text-center onlinehead_head font-weight">Fair play in the contract design</h2>
                                    </div>
                                    </div>
                        
                        <h3>No long-term contractual ties</h3>
                                 <p>If you are a customer of the presence tutoring institute, you often have to contract for a longer period of time and have to pay a certain minimum number of 
                                     hours each month. Thus, such tutoring can be 
                                     quite expensive. With Easy-Tutor, you book hourly quotas, which you can retrieve whenever they are needed. <a href="#">Click here for our prices.</a></p>
                                 <h3 class="Professionalonline_subhead23">We guarantee your satisfaction</h3>
                                 <p>We want everyone to be satisfied with our service and that's why you can decide on our 50s and 100s package until the end of the first month if you want to 
                                     stay with Easy-Tutor or not! This means, we should not have convinced you that you can conta
                                     until the last day before the repeated debit or due date of the monthly amount to stop the subscription. <a href="#">Here is more information about our satisfaction guarantee.</a></p>
                                
                            </div>      
                                
                        </div>
                        </div>
        </div>


       
        

        

        </div>


    </div>

    </div>
</div>


<section class="readytostart howitwork_readytostart">
        <div class="container">
<h3>Try the online tuition for free with a teacher of your choice!
        </h3>
<h3 class="create_head_read">Create an account and get a free trial lesson</h3>

<a class="btn howitwork1_triallesson"><i class="icon-gift"></i> Secure a free trial lesson</a>   <span class="howitwork1_btnseperater"> or </span> 
 <a class="btn choose_triallesson">Choose a teacher</a>
 <p class="howitworks1-font5">Meet our teachers!</p>
        </div>
 </div>
</section>



    <!--    footer Start-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <h4 class="theme">Legal</h4>
                    <ul>
                        <li>
                            <a href="../imprint.html">Imprint</a>
                        </li>
                        <li>
                            <a href="../Privacy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Conditions</a>
                        </li>
                        <li>
                            <a href="../cancellation.html">Cancellation</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4 class="theme">More Information</h4>
                    <ul>
                        <li>
                            <a href="../imprint.html">Imprint</a>
                        </li>
                        <li>
                            <a href="../Privacy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Conditions</a>
                        </li>
                        <li>
                            <a href="../cancellation.html">Cancellation</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4 class="theme">Companies</h4>
                    <ul>
                        <li>
                            <a href="../imprint.html">Imprint</a>
                        </li>
                        <li>
                            <a href="../Privacy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Conditions</a>
                        </li>
                        <li>
                            <a href="../cancellation.html">Cancellation</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4 class="theme">Feeds</h4>
                    <div class="single-item" style="width:140px;">
                        <div>
                            <img src="../assets/images/expert.png" alt="" />
                        </div>
                        <div>
                            <img src="../assets/images/proven_icon.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footerBottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-left">
                         <!-- chat box for query start -->
                         <div class="chatbox">
                                <form class="formBox" method="post">
                                    <div class="card">
                                        <div class="card-header">
                                            Request to the Easy-Tutor Team. <i class="fa fa-angle-down pull-right"></i>
                                        </div>
                                        <div class="card-block">
                                            <div class="card1">
                                            <h4 class="card-title">Open questions about online tutoring? Leave a message to the Easy-Tutor team and we'll get back to you as soon as possible!</h4>
                                            <div class="form-group">
                                                    <label class="form-inline">Email Id</label>
                                                    <input class="form-control" name="email" type="email" required />
                                                    <span class="alert alert-danger">Invalive value</span>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-inline">Name</label>
                                                    <input class="form-control" name="name" type="text" required />
                                                    <span class="alert alert-danger">Invalive name please try again</span>
                                                </div> 
                                                <div class="form-group">
                                                        <label class="form-inline">Mobile</label>
                                                        <input class="form-control" name="name" type="tel" required />
                                                        <span class="alert alert-danger">Invalive mobile no</span>
                                                </div> 
                                                <div class="form-group">
                                                    <button href="#" class="btn btn-default continueBtn">Continue</button>
                                                </div>             
                                            </div>
                                            <div class="card2">
                                                <br>
                                                    <small>Unfortunately we are not online right now. Leave us a message and we'll get back to you as soon as possible!</small>                                                
                                                    <br>
                                                    <div class="form-group">                                                
                                                    <br>
                                                    <label class="form-inline">Message</label>
                                                    <textarea class="form-control" placeholder=""></textarea>                                                
                                                </div>
                                                <div class="form-group">
                                                    <button href="#" class="btn btn-default">Send &nbsp;<i class="fa fa-paper-plane-o"></i></button>
                                                </div>             
                                            </div>                
                                                <!-- <div class="row">
                                                    <div class="btnWrapper text-center col-sm-12">
                                                        <input class="btn btn-default" type="submit" value="" />
                                                    </div>                                               
                                                </div> -->
                                        </div>
                                    </div>
    
                                </form>
                            </div>
                            <!-- chat box for query Ends -->
                        <a href="#">
                            <p class="needHelp">Need Help? Chat with Us</p>
                        </a>
                    </div>
                    <div class="col-md-6 text-right">
                        <ul class="socialLinks">
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--    footer Ends-->
    <script src="../assets/js/jquery-3.2.1.min.js"></script>
    <script src="../assets/js/popper.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>  
    <script src="../assets/js/slick.min.js"></script>
    <script src="../assets/js/aos.js"></script>    
    <script src="../assets/js/custom.js"></script>

    <!-- The Login Modal -->
    <div class="modal fade" id="login">
        <div class="modal-dialog">
            <figure class="text-center">
                <img class="popupLogo" src="../assets/images/popup_logo.png" />
            </figure>
            <div class="modal-content">
                <!-- Modal Header -->
                <!-- <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div> -->

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="index.html" method="post" class="formBox">
                        <div class="form-group">
                            <label class="form-inline">Email Id</label>
                            <input class="form-control" name="email" type="email" required />
                            <span class="alert alert-danger">Invalive value</span>
                        </div>
                        <div class="form-group">
                            <label class="form-inline">Password</label>
                            <input class="form-control" name="password" type="password" required />
                            <span class="alert alert-danger">Invalive pass</span>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="rememberme" />
                                <span>Remember Me</span>
                            </label>
                        </div>
                        <div class="row">
                            <div class="btnWrapper text-center col-sm-12">
                                <input class="btn btn-default" type="submit" />
                            </div>
                            <div class="col-sm-6 text-left"><a href="forgatePassword.html">Forget Password</a></div>
                            <div class="col-sm-6 text-right"><a href="#">New User?</a></div>
                        </div>                        
                    </form>
                </div>

                <!-- Modal footer
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>         -->
            </div>
            <div class="clearfix"></div>
            <a href="#" class="close backtoHome" data-dismiss="modal">
                <img src="../assets/images/arrow-left.png" alt="bkhome" />&nbsp; Back to Easy-tutor</a>
        </div>
    </div>   
    
		
</body>

</html>