<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 ,maximum-scale=1">
    <title>easy Tutor</title>
    <link rel="icon" href="../assets/images/icon.png" sizes="192x192" />
    <meta name="description" content="easy tutor, online tutor">
  
    <!-- default css start -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <!-- default css ends -->
    <link href="../assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../assets/fonts/font.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/aos.css" />    
    <!-- default font start -->
    
	<link href="../assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/colors.css" rel="stylesheet" type="text/css">
    
    <!-- default font Ends -->
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/teacherstyle.css" />



    <!-- <script type="text/javascript" src="../assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="../assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="../assets/js/plugins/loaders/blockui.min.js"></script>
	<script type="text/javascript" src="../assets/js/plugins/forms/styling/uniform.min.js"></script>
	<script type="text/javascript" src="../assets/js/plugins/forms/selects/select2.min.js"></script>
     <script type="text/javascript" src="../assets/js/core/app.js"></script>
	<script type="text/javascript" src="../assets/js/pages/form_layouts.js"></script>
    <script type="text/javascript" src="../assets/js/pages/form_checkboxes_radios.js"></script>
    <script type="text/javascript" src="../assets/js/pages/components_navs.js"></script>
    <script type="text/javascript" src="../assets/js/plugins/ui/ripple.min.js"></script> -->

    <script type="text/javascript" src="../assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="../assets/js/core/libraries/jquery.min.js"></script>
   
	<script type="text/javascript" src="../assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="../assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="../assets/js/core/libraries/jquery_ui/interactions.min.js"></script>
	<script type="text/javascript" src="../assets/js/core/libraries/jquery_ui/touch.min.js"></script>

	<script type="text/javascript" src="../assets/js/core/app.js"></script>
	<script type="text/javascript" src="../assets/js/pages/components_navs.js"></script>

	<script type="text/javascript" src="../assets/js/plugins/ui/ripple.min.js"></script>

</head>

<body class="tutor-wrap">
    <!--    preloader start-->
    <div id="preloader">
        <div class="loader-inner" style="z-index:9999999;">
            <img src="#" alt="">
            <p>Loading
                <span>.</span>
                <span>.</span>
                <span>.</span>
            </p>
        </div>
    </div>
    <!--    preloader start -->

    <!-- header start -->
    <header class="studenthome_header">
        <div class="navbar navbar-inverse bg-primary">
        <div class="navbar-header">
            <a class="navbar-brand home" href="index.html">
                <img src="../assets/images/logo.png" alt="">
            </a>

            <ul class="nav navbar-nav visible-xs-block mobile_menu">
                <li>
                    <a href="javascript:void(0)" data-toggle="collapse" data-target="#navbar-mobile">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav middle-menu">
                <li class="nav-item">
                        <a href="#" class="legitRipple">FIND TEACHER </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="legitRipple">THIS IS HOW IT WORKS</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="legitRipple">PRICES</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="legitRipple">CONTACT US</a>
                    </li>
            </ul>

            

            <ul class="nav navbar-nav navbar-right">
                
                
                
<li>
        <div class="indexright_login">
                <a class="" href="#">
                    <img src="../assets/images/login.png" alt="login">
              
                </a>

                <ul class="right-dropdown-menu">
                    <a class="login_sub" href="login.html">Login</a>
                    <a class="" href="register.html">Create Account</a>
                </ul>
            </div>
           
</li>
            
            </ul>
        </div>
        <div class="mobile_indexright_login dropdown">
           
                <a class="dropdown-toggle" type="button" data-toggle="dropdown"><img src="../assets/images/login.png" class="img-sm" alt="login"></a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="login.html">Login</a></li>
                  <li><a href="register.html">Create Account</a></li>                    
                </ul>
            
        </div>
    </div>
    </header>
    <!--    header Ends-->  
    <section class="onlineSection tutortraning_top">
        <div class="container text-center">
            <h1>Frequently Asked Questions - FAQs</h1>
           
           </div>

    </section>
    

   

    <div class="page-container teachertraning_wrap howitworks2_wrap howitworks3_wrap">

    <div class="page-content">
     

        <div class="content-wrapper teachertraning_sub howitwork_sub">

      

        <div class="graybg teachertraning_sub_container">
            <div class="container">
             
            <div class="row">
                <div class="row">
                <div class="col-sm-12">
                <h2 class="text-center onlinehead_head">Top 3 - The most frequently asked questions</h2>
                </div>
                </div>
            
            <div class="col-md-12">
                   
            <div class="Faq_tabcon">
                    <button class="accordion">Online tutoring at Easy-Tutor - how does it work?</button>
                    <div class="panel">
                    <p> Easy tutor is individual tutoring. With all the advantages of one-to-one tuition, but with a few more important extras: As a platform, our students can freely choose their desired teacher from a broad range of teachers. And most importantly: Easy-Tutor guarantees maximum freedom in the scheduling. The schedules of all teachers and their available times are visible. Because the tutoring by Easy-Tutor takes place online, annoying travel times are eliminated and lessons can even take place in the holiday home or at grandma's in the countryside. <a href="#">Here you can see how a tutoring session works.</a></p>

                    <p> Flexibility, spontaneity and simplicity are trumps. In addition, Easy-Tutor knows no expensive and long contracts, but only learning packages with different discounts: Only the lessons that are really necessary, are booked and paid. This is how tuition works, which converts weaknesses into strengths.</p>
                    </div>
                    
                    <button class="accordion">Easy Tutor is a platform. Does that mean every teacher can sign up?</button>
                    <div class="panel">
                      <p>No. Although Easy-Tutor is a platform, above all we actively set the standards for a high quality level. Each of our teachers applies to us and is checked for qualifications and aptitude. Only when all criteria are met, will you be thoroughly instructed in the use of the online techniques we provide. When it comes to selecting our teachers, we do not rely on mass, but on professional, didactic and methodical competent personalities, who implement our concept in such a way that it ensures optimal learning success and learning fun for the students. <a href="#">Go to the teachers of Easy-Tutor.</a></p>
                    </div>
                    
                    <button class="accordion">I like flexibility! Does this work with every package from Easy-Tutor and why is the cost of the packages taken on a monthly basis?</button>
                    <div class="panel">
                        <div class="faqpanel">
                        Our packages are very simple:
                        <ul class="faq_listing">
                        <li>It is possible to book individual lessons (45 minutes) for € 17.60. Very handy if support is needed spontaneously or shortly before an exam. If you want a little more tutoring, book the 20 card with 20 units for 45 minutes. It costs a single 336 €, so 16,80 € per 45 minutes tutoring. A savings of five percent.</li>
                        
                        <li>Even cheaper are our savings packages with a term of six or twelve months. Who books these packages, immediately receives a credit for 50 or 100 online tutoring units, each with 45 minutes. These are about eight lessons per month, but they do not have to be booked regularly and on a weekly basis, but rather - very flexible. Time according to your wishes, in subjects and with teachers of your choice.</li>
                        
                        <li>With the 6-month payment the price sinks for 45 minutes to 15,90 € and in addition there is a graphics tablet on loan.</li>
                        
                        <li>In the 12-month run, 45 minutes of lessons cost only 14.95 € and the graphics tablet is a present!</li>
                        
                        <li>The advantage of monthly payment products is also that the total amount of tutoring hours is debited monthly over the term. In addition, there is also our <a href="#">satisfaction guarantee</a> , so you do not take any risk. </li>
                    </ul>
                </div>
                    </div>
                </div>
            
                

            
            </div>
            
             </div>


             <div class="row technical_container36">
                <div class="row">
                <div class="col-sm-12">
                <h2 class="text-center onlinehead_head">Technical realization of tutoring</h2>
                </div>
                </div>
            
            <div class="col-md-12">
                   
            <div class="Faq_tabcon">
                    <button class="accordion">Are webcam and micro really necessary?</button>
                    <div class="panel">
                    <p> We have thought of everything: Anyone who wants to participate in a classroom without a computer without this equipment can also use their smartphone as a camera and microphone. A tablet PC or a smartphone - regardless of the operating system - but also enough. Only a pretty fast internet connection should be available.</p>

                    </div>
                    
                    <button class="accordion">Keep students and teachers of Easy-Tutor constantly leaves in front of the camera?</button>
                    <div class="panel">
                      <p>Funny idea, that would be very impractical. At the heart of Easy-Tutor is our digital board where students and teachers can write together. The board works smoothly and it gets even better when you use a small graphics tablet - with our largest hour pack, the device is even included in the price.</p>
                    </div>
                    
                    <button class="accordion">How does the teacher look at Easy-Tutor exercise books and worksheets?</button>
                    <div class="panel">
                        <p>Easy-Tutor works with an application that makes sharing work documents fast and easy: one click and the teacher can not only see the student's worksheets in real time, but use them directly on the virtual tablet: students and teachers can view the documents with comments and store it in the Easy-Tutor Cloud.</p>
                    </div>

                    <button class="accordion">Are the work results still available after the tutoring session?</button>
                    <div class="panel">
                        <p>Every lesson from the lesson, together with the comments, sketches, work results and formulas, is filed cleanly in the Easy-Cloud. Tutoring with Easy-Tutor should be sustainable and learning outcomes are only valuable if they are always tangible, repeatable and printable. That's the core of Easy-Tutor!</p>
                    </div>

                </div>
            
            
                

            
            </div>
            
             </div>



             <div class="row technical_container36">
                <div class="row">
                <div class="col-sm-12">
                <h2 class="text-center onlinehead_head">Teachers and appointments</h2>
                </div>
                </div>
            
            <div class="col-md-12">
                   
            <div class="Faq_tabcon">
                    <button class="accordion">How does Easy-Tutor know if a teacher is good?</button>
                    <div class="panel">
                    <p>Of course we are interested in testimonials, references, CV from possible teachers - the demands on our applicants are high. However, at least as important to us is their social competence and the human aspect. Only when children accept their tutor, the chances of success are as good as we wish.</p>

                    </div>
                    
                    <button class="accordion">Some tutors do not come from school. Is that a disadvantage?</button>
                    <div class="panel">
                      <p>Basically, Easy-Tutor does not work for anyone who has no teaching experience yet. When selecting our teachers, the educational skills and didactic experience of the candidates are very important to us. The fact that some teachers - especially in the natural sciences - come from the university environment, we understand even as an advantage: A fresh look sometimes opens up a new approach to a problem.</p>
                    </div>
                    
                    <button class="accordion">"I'm writing math on Friday!" How flexible is Easy-Tutor when things need to be done quickly?</button>
                    <div class="panel">
                        <p>Easy tutor is fast. Very fast. Whether a class paper, an upcoming paper or an approaching exam - simply look for free appointments in the teacher's schedule or switch to another colleague.</p>
                    </div>

                    <button class="accordion">I do not like my teacher. Can I just switch to another?</button>
                    <div class="panel">
                        <p>It is easy to book another teacher. To ensure our quality, a short message would be great, why it was not optimal with the previous teacher.</p>
                    </div>

                    <button class="accordion">Oops, something has happened to me! Can I postpone the appointment?</button>
                    <div class="panel">
                        <p>No problem! Just go to the confirmation e-mail and click on "postpone appointment". Then you can simply choose a replacement appointment. However, this option is available to students and teachers only up to 24 hours before the scheduled date.</p>
                    </div>

                    <button class="accordion">Can the teacher postpone appointments?</button>
                    <div class="panel">
                        <p>The teacher can not postpone the appointments - after all, he only has insight into his diary and not into that of his students. In addition, a teacher can cancel the shared appointments only up to 24 hours before the scheduled appointment.</p>
                        <p>If that happens, other competent teachers are available in the same subject. The canceled appointment will of course be credited back and there are of course no costs.</p>
                    </div>

                    <button class="accordion">Who checks whether and how long the tutoring session took place?</button>
                    <div class="panel">
                        <p>The opportunity for our students to review every single tutoring lesson and to see the lesson materials afterwards ensures maximum transparency. We can control lessons with our system, see timestamps and know very well: So far everything went according to plan.</p>
                    </div>

                </div>
            
            
                

            
            </div>
            
             </div>


             <div class="row technical_container36">
                <div class="row">
                <div class="col-sm-12">
                <h2 class="text-center onlinehead_head">Costs and obligations</h2>
                </div>
                </div>
            
            <div class="col-md-12">
                   
            <div class="Faq_tabcon">
                    
                    <button class="accordion">No cancellations necessary? Where is there something like that?</button>
                    <div class="panel">
                        <p>At Easy-Tutor. That makes us pretty unique. If you book a discounted learning package with us, you will pay off the credit balance every month without being bound to a subscription that requires a cancellation. If you want to continue learning with Easy-Tutor, you just have to extend the membership and you will be credited with a new credit. It's that easy.</p>
                    </div>

                    <button class="accordion">No registration fee? No hidden costs?</button>
                    <div class="panel">
                            <div class="faqpanel">
                                    No. We want to earn our money with tutoring, not with small print. That's why Easy-Tutor's pricing model knows only four steps:
                                    <ul class="faq_listing">
                                    <li>Free trial lesson </li>
                                    
                                    <li>Booking of individual lessons</li>
                                    
                                    <li>20 hours with 5 percent discount </li>
                                    
                                    <li>Half-year or full-year savings packages with 10% or 15% discount.</li>
                                    
                                    </ul>
                            </div>
                    </div>

                    <button class="accordion">Is there an Easy-Tutor "Taster Offer"?</button>
                    <div class="panel">
                        <p>Naturally! The first lesson from Easy-Tutor is even 45 minutes long. It is possible to try for free and without obligation in a subject of your choice with one of our teachers, if this form of tutoring is the right one. The only thing that is necessary is a free user account. It's that easy!</p>
                    </div>

                    <button class="accordion">How does the Easy-Tutor Satisfaction Guarantee work?</button>
                    <div class="panel">
                       <p> We want everyone to be satisfied with our service and that's why you can decide on our 50s and 100s package until the end of the first month if you want to stay with Easy-Tutor or not! This means, if we have not convinced you that you can contact us until the last day before the recurring charge or due date of the monthly amount to end the membership. </p>
                    <p>The graphic tablet that we have provided must then be returned to us, a return slip is ready. The only requirement is that in the first month not more than 8 times 45 minutes tutoring was booked. </p>    
                    </div>

                    <button class="accordion">The lesson does not start or the teacher is not there - does it still cost money?</button>
                    <div class="panel">
                        <p>A clear no. On our platform, we can understand any irregularity and of course only lessons that have actually taken place are booked.</p>
                    </div>

                </div>
            
            
                

            
            </div>
            
             </div>


             <div class="row technical_container36">
                    <div class="row">
                    <div class="col-sm-12">
                    <h2 class="text-center onlinehead_head">Other questions</h2>
                    </div>
                    </div>
                
                <div class="col-md-12">
                       
                <div class="Faq_tabcon">
                        <button class="accordion">Why Easy-Tutor? There are so many other possibilities.</button>
                        <div class="panel">
                        <p>First a few questions:<br/>
                         Is it really fun to compare two diaries on the phone until a late-night appointment is made? Is a stuffy room with ten unknown tuition students an ideal learning atmosphere? Do you really need to ask a tutor about his career? Are not 60 minutes driving time for 45 minutes lessons a bit much?
                         Anyone who has answered "no" more than once will appreciate the flexibility and opportunity for spontaneity of Easy-Tutor. With an unbeatable reliable and modern application, we are able to offer online tutoring as it should be: simple and ingenious. <a href="">Here you will find all the advantages.</a></p>
    
                        </div>
                        
                        <button class="accordion">What are the disadvantages of online tutoring?</button>
                        <div class="panel">
                          <p>At this question, we are really pondering. And the longer Easy-Tutor exists, the less we can think of it. In fact, our teachers are not sitting next to our students, but in the monitor right in front of them. Which is an advantage, because you can look at it directly. The concentration is high, the teacher can already read from the facial expressions of his counterpart, when questions remain open or understanding begins.
                           </p>
                           <p>A huge plus is - we note that more and more - the structuring of the work materials. A certain degree of self-organization is quite playful even before lessons for the student: who thinks about his open questions before class, is more motivated to work. Even more important: what is worked out during the lesson will be structured and sorted into our Easy-Tutor Cloud and can be found again anytime.</p>
                        </div>
                        
                        <button class="accordion">Do you have to count how many classes have already taken place?</button>
                        <div class="panel">
                            <p>On Easy-Tutor, everything is transparent: the remaining balance can be viewed at any time.</p>
                        </div>
    
                        <button class="accordion">"My teacher canceled appointments". How do I handle this?</button>
                        <div class="panel">
                            <p>If this happens more often, we want to know as soon as possible. Do not hesitate - we consult with the teacher in question and clarify this. Of course, the hour itself does not have to be paid.</p>
                        </div>
    
    
    
                    </div>
                
                
                    
    
                
                </div>
                
                 </div>


            </div>
            </div>



        

        </div>


    </div>

    </div>
</div>


<section class="readytostart howitwork_readytostart">
        <div class="container">
<h3>Do you still have unanswered questions?
        </h3>
<h3 class="create_head_read">Do not hesitate to contact us! We will advise you personally.</h3>


 <a class="btn choose_triallesson howitwork3_contact">Contact</a>
        </div>
 </div>
</section>



    <!--    footer Start-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <h4 class="theme">Legal</h4>
                    <ul>
                        <li>
                            <a href="../imprint.html">Imprint</a>
                        </li>
                        <li>
                            <a href="../Privacy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Conditions</a>
                        </li>
                        <li>
                            <a href="../cancellation.html">Cancellation</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4 class="theme">More Information</h4>
                    <ul>
                        <li>
                            <a href="../imprint.html">Imprint</a>
                        </li>
                        <li>
                            <a href="../Privacy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Conditions</a>
                        </li>
                        <li>
                            <a href="../cancellation.html">Cancellation</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4 class="theme">Companies</h4>
                    <ul>
                        <li>
                            <a href="../imprint.html">Imprint</a>
                        </li>
                        <li>
                            <a href="../Privacy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Conditions</a>
                        </li>
                        <li>
                            <a href="../cancellation.html">Cancellation</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4 class="theme">Feeds</h4>
                    <div class="single-item" style="width:140px;">
                        <div>
                            <img src="../assets/images/expert.png" alt="" />
                        </div>
                        <div>
                            <img src="../assets/images/proven_icon.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footerBottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-left">
                         <!-- chat box for query start -->
                         <div class="chatbox">
                                <form class="formBox" method="post">
                                    <div class="card">
                                        <div class="card-header">
                                            Request to the Easy-Tutor Team. <i class="fa fa-angle-down pull-right"></i>
                                        </div>
                                        <div class="card-block">
                                            <div class="card1">
                                            <h4 class="card-title">Open questions about online tutoring? Leave a message to the Easy-Tutor team and we'll get back to you as soon as possible!</h4>
                                            <div class="form-group">
                                                    <label class="form-inline">Email Id</label>
                                                    <input class="form-control" name="email" type="email" required />
                                                    <span class="alert alert-danger">Invalive value</span>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-inline">Name</label>
                                                    <input class="form-control" name="name" type="text" required />
                                                    <span class="alert alert-danger">Invalive name please try again</span>
                                                </div> 
                                                <div class="form-group">
                                                        <label class="form-inline">Mobile</label>
                                                        <input class="form-control" name="name" type="tel" required />
                                                        <span class="alert alert-danger">Invalive mobile no</span>
                                                </div> 
                                                <div class="form-group">
                                                    <button href="#" class="btn btn-default continueBtn">Continue</button>
                                                </div>             
                                            </div>
                                            <div class="card2">
                                                <br>
                                                    <small>Unfortunately we are not online right now. Leave us a message and we'll get back to you as soon as possible!</small>                                                
                                                    <br>
                                                    <div class="form-group">                                                
                                                    <br>
                                                    <label class="form-inline">Message</label>
                                                    <textarea class="form-control" placeholder=""></textarea>                                                
                                                </div>
                                                <div class="form-group">
                                                    <button href="#" class="btn btn-default">Send &nbsp;<i class="fa fa-paper-plane-o"></i></button>
                                                </div>             
                                            </div>                
                                                <!-- <div class="row">
                                                    <div class="btnWrapper text-center col-sm-12">
                                                        <input class="btn btn-default" type="submit" value="" />
                                                    </div>                                               
                                                </div> -->
                                        </div>
                                    </div>
    
                                </form>
                            </div>
                            <!-- chat box for query Ends -->
                        <a href="#">
                            <p class="needHelp">Need Help? Chat with Us</p>
                        </a>
                    </div>
                    <div class="col-md-6 text-right">
                        <ul class="socialLinks">
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--    footer Ends-->
    <script src="../assets/js/jquery-3.2.1.min.js"></script>
    <script src="../assets/js/popper.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>  
    <script src="../assets/js/slick.min.js"></script>
    <script src="../assets/js/aos.js"></script>    
    <script src="../assets/js/custom.js"></script>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight){
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
            } 
          });
        }
        </script>
    <!-- The Login Modal -->
    <div class="modal fade" id="login">
        <div class="modal-dialog">
            <figure class="text-center">
                <img class="popupLogo" src="../assets/images/popup_logo.png" />
            </figure>
            <div class="modal-content">
                <!-- Modal Header -->
                <!-- <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div> -->

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="index.html" method="post" class="formBox">
                        <div class="form-group">
                            <label class="form-inline">Email Id</label>
                            <input class="form-control" name="email" type="email" required />
                            <span class="alert alert-danger">Invalive value</span>
                        </div>
                        <div class="form-group">
                            <label class="form-inline">Password</label>
                            <input class="form-control" name="password" type="password" required />
                            <span class="alert alert-danger">Invalive pass</span>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="rememberme" />
                                <span>Remember Me</span>
                            </label>
                        </div>
                        <div class="row">
                            <div class="btnWrapper text-center col-sm-12">
                                <input class="btn btn-default" type="submit" />
                            </div>
                            <div class="col-sm-6 text-left"><a href="forgatePassword.html">Forget Password</a></div>
                            <div class="col-sm-6 text-right"><a href="#">New User?</a></div>
                        </div>                        
                    </form>
                </div>

                <!-- Modal footer
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>         -->
            </div>
            <div class="clearfix"></div>
            <a href="#" class="close backtoHome" data-dismiss="modal">
                <img src="../assets/images/arrow-left.png" alt="bkhome" />&nbsp; Back to Easy-tutor</a>
        </div>
    </div>   
    <script>
    
        equalheight = function (container) {

            var currentTallest = 0,
                currentRowStart = 0,
                rowDivs = new Array(),
                $el,
                topPosition = 0;
            $(container).each(function () {

                $el = $(this);
                $($el).height('auto')
                topPostion = $el.position().top;

                if (currentRowStart != topPostion) {
                    for (currentDiv = 0; currentDiv < rowDivs.length; currentDiv++) {
                        rowDivs[currentDiv].height(currentTallest);
                    }
                    rowDivs.length = 0; // empty the array
                    currentRowStart = topPostion;
                    currentTallest = $el.height();
                    rowDivs.push($el);
                } else {
                    rowDivs.push($el);
                    currentTallest = (currentTallest < $el.height()) ? ($el.height()) : (currentTallest);
                }
                for (currentDiv = 0; currentDiv < rowDivs.length; currentDiv++) {
                    rowDivs[currentDiv].height(currentTallest);
                }
            });
        }

        $(window).load(function () {
            equalheight('.equalHeight');
        });


        $(window).resize(function () {
            equalheight('.equalHeight');
        });

    
    </script>
		
</body>

</html>