<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 ,maximum-scale=1">
    <title>easy Tutor</title>
    <link rel="icon" href="../assets/images/icon.png" sizes="192x192" />
    <meta name="description" content="easy tutor, online tutor">
  
    <!-- default css start -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <!-- default css ends -->
    <link href="../assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../assets/fonts/font.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/aos.css" />    
    <!-- default font start -->
    
	<link href="../assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/colors.css" rel="stylesheet" type="text/css">
    
    <!-- default font Ends -->
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/teacherstyle.css" />



    <script type="text/javascript" src="../assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="../assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="../assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

    <!-- Theme JS files -->
    
	<script type="text/javascript" src="../assets/js/plugins/forms/styling/uniform.min.js"></script>
	<script type="text/javascript" src="../assets/js/plugins/forms/selects/select2.min.js"></script>

	<script type="text/javascript" src="../assets/js/core/app.js"></script>
	<script type="text/javascript" src="../assets/js/pages/form_layouts.js"></script>
    <script type="text/javascript" src="../assets/js/pages/form_checkboxes_radios.js"></script>
    <script type="text/javascript" src="../assets/js/plugins/ui/ripple.min.js"></script>
</head>

<body class="tutor-wrap">
    <!--    preloader start-->
    <div id="preloader">
        <div class="loader-inner" style="z-index:9999999;">
            <img src="#" alt="">
            <p>Loading
                <span>.</span>
                <span>.</span>
                <span>.</span>
            </p>
        </div>
    </div>
    <!--    preloader start -->

    <!-- header start -->
    <header class="studenthome_header">
        <div class="navbar navbar-inverse bg-primary">
        <div class="navbar-header">
            <a class="navbar-brand home" href="index.html">
                <img src="../assets/images/logo.png" alt="">
            </a>

            <ul class="nav navbar-nav visible-xs-block mobile_menu">
                <li>
                    <a href="javascript:void(0)" data-toggle="collapse" data-target="#navbar-mobile">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav middle-menu">
                <li class="nav-item">
                        <a href="#" class="legitRipple">FIND TEACHER </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="legitRipple">THIS IS HOW IT WORKS</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="legitRipple">PRICES</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="legitRipple">CONTACT US</a>
                    </li>
            </ul>

            

            <ul class="nav navbar-nav navbar-right">
                
                
                
<li>
        <div class="indexright_login">
                <a class="" href="#">
                    <img src="../assets/images/login.png" alt="login">
              
                </a>

                <ul class="right-dropdown-menu">
                    <a class="login_sub" href="login.html">Login</a>
                    <a class="" href="register.html">Create Account</a>
                </ul>
            </div>
           
</li>
            
            </ul>
        </div>
        <div class="mobile_indexright_login dropdown">
           
                <a class="dropdown-toggle" type="button" data-toggle="dropdown"><img src="../assets/images/login.png" class="img-sm" alt="login"></a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="login.html">Login</a></li>
                  <li><a href="register.html">Create Account</a></li>                    
                </ul>
            
        </div>
    </div>
    </header>
    <!--    header Ends-->  
    <section class="onlineSection tutortraning_top">
        <div class="container text-center">
            <h1>This is how the online tutoring works</h1>
           </div>

    </section>
    

   

    <div class="page-container teachertraning_wrap">

    <div class="page-content">
     

        <div class="content-wrapper teachertraning_sub howitwork_sub">

        <div class="graybg teachertraning_sub_container">
        <div class="container">
         
        <div class="row">
        <div class="col-md-6">
                        <img src="../assets/images/startonline.png" class=" img-responsive center-block firstimg"/>
        </div>
        <div class="col-md-6">
                <h2 class="onlinehead_head">Online lessons without restrictions</h2>
     <div class="howwork_content"><i class="fa fa-check"></i><p>We can see each other , hear and talk</p></div>
     <div class="howwork_content"><i class="fa fa-check"></i><p>We can see each other , hear and talk</p></div>
     <div class="howwork_content"><i class="fa fa-check"></i><p>We can see each other , hear and talk</p></div>
     <div class="howwork_content new compare23"><i class="icon-cog52"></i><p><strong>New</strong> - Compare completely risk-free low maintenance hours thanks to our <strong>Satisfaction Guarantee!</strong></p></div>
     <div class="howwork_content new"><i class="fa fa-lightbulb-o"></i><p><strong>Tip - Create a user</strong> account to arrange a non-binding trial lesson. The first lesson is free and you do not enter into a contract!
        </p></div>
        </div>
         </div>
        </div>
        </div>

        <div class="whitebg teachertraning_sub_container">
                <div class="container">
                        <div class="row">
                    <div class="col-md-6">
                                        <h2 class="selectdesired_head">1. Finding the perfect teacher</h2>
                                        <div class="howwork_content"><i class="fa fa-check"></i> <p class="text-bold">SELECT A DESIRED TEACHER</p></div>
                                     <div class="howwork_content"><i class="fa fa-lightbulb-o"></i><p><strong>Tip1 -</strong> We write together on the digital tablet</p></div>
                                      <div class="howwork_content"><i class="fa fa-lightbulb-o"></i><p><strong>TIP2 -</strong> The purchased lesson times of our saving packages are credited to a time account that is valid for all teachers and subjects. Changing teachers or subjects is easily possible!</p></div>
                                        </div>
                    <div class="col-md-6">
                        <img src="../assets/images/Teachers_Directive.png" class="secondimg img-responsive center-block"/>
                        </div>
                        </div>
                        </div>
        </div>

        <div class="graybg teachertraning_sub_container">
                <div class="container">
                        <div class="row">
                                <div class="col-md-6">
                                        <img src="../assets/images/startonline.png" class=" img-responsive center-block firstimg"/>
                                             </div>
                                <div class="col-md-6">
                                <h2>2. Choose a suitable date</h2>
                                <div class="howwork_content"><i class="fa fa-check"></i> <p class="text-bold">SELECT AN APPOINTMENT THAT FITS PERFECTLY IN THE PERSONAL SCHEDULE</p></div>
                             <div class="howwork_content"><i class="fa fa-lightbulb-o"></i><p><strong>TIP -</strong> If you would like to book serveral appointments at the same time, you can click on > Further Dates < and add additional tutoring sessions</p></div>
                                </div>
                                
                        </div>
                        </div>
        </div>


        <div class="whitebg teachertraning_sub_container">
                <div class="container">
                        <div class="row">
                    <div class="col-md-6">
    <h2 class="onlinehead_head">3. Complete appointment booking</h2>
    <div class="howwork_content"><i class="fa fa-check"></i> <p class="text-bold">FILL IN THE SHORT FORM</p></div>
    <div class="howwork_content"><i class="fa fa-check"></i> <p class="text-bold">SEND PERSONAL INFORMATION TO THE TEACHER</p></div>
    <div class="howwork_content"><i class="fa fa-check"></i><p>(You can take pictures of his notebooks and make them available to the teacher so that he can prepare better)
                                        </p></div>

 <div class="howwork_content"><i class="fa fa-check"></i> <p class="text-bold">CHOOSE A FORM OF PAYMENT</p></div>
<div class="howwork_content"><i class="fa fa-check"></i><p>(The data goes directly to the payment broker via SSL encryption, no payment data is stored on our server)
</p></div>
<div class="howwork_content"><i class="fa fa-lightbulb-o"></i> <p class="text-bold">Tip - Save additionally with Easy-Tutor</p></div>
<div class="howwork_content"><p>We recommend our savings packages with our satisfaction guarantee! After a purchase one receives a code, which one must enter at "Redeem voucher code". (Alternatively: e-mail address is also possible)
</p></div>

                                        </div>
                    <div class="col-md-6">
                        <img src="../assets/images/appointmentbooking.png" class="secondimg img-responsive center-block completeappointment_img"/>
                        </div>
                        </div>
                        </div>
        </div> 
        <div class="graybg teachertraning_sub_container">
                <div class="container">
                        <div class="row">
                                <div class="col-md-6">
                                        <img src="../assets/images/startonline.png" class=" img-responsive center-block firstimg"/>
                                             </div>
                                <div class="col-md-6">
                                <h2 class="onlinehead_head">4. Start online tutoring</h2>
                                <div class="howwork_content"><i class="fa fa-check"></i> <p class="text-bold">AFTER SUCCESSFUL BOOKING YOU WILL RECEIVE AN APPOINTMENT CONFIRMATION BY E-MAIL</p></div>
                                <div class="howwork_content"><i class="fa fa-check"></i> <p class="text-bold"> 5 MINUTES BEFORE THE TUTORING STRATS, CLICK ON THE LINK AND THE MEETING WITH THE TEACHER OPENS</p></div>
                                <div class="howwork_content"><i class="fa fa-lightbulb-o"></i><p><strong>TIP -</strong> It is recommended to check the webcam and the microphone before, so that the tutoring can start smoothly. Both not available? Then you can also join the smartphone and use this as a replacement.
                                </p></div>
                                </div>
                                
                        </div>
                        </div>
        </div>


        <div class="whitebg teachertraning_sub_container">
                <div class="container">
                        <div class="row">
                    <div class="col-md-6">
                                        <h2 class="repeateverything_head">Easy-Cloud: Repeat everything again</h2>
                                        <div class="howwork_content"><i class="fa fa-check"></i> <p class="text-bold">ALL DOCUMENTS, WHICH WERE DEVELOPED WITH THE TEACHER, YOU CAN LOOK AGAIN</p></div>
                                        <div class="howwork_content"><i class="fa fa-check"></i> <p class="text-bold">AFTER THE LESSON, THE TEACHER LOADS ALL CREATED DOCUMENTS INTO A PERSONAL FOLDER</p></div>
                                        <div class="howwork_content"><i class="fa fa-lightbulb-o"></i><p><strong>TIP -</strong> To find the documents click on "Easy-Cloud" in the left bar. On the next page you have to go to the tab "Shared files" to see the teachers' folders. Here you can download all files.
                                        </p></div>
                                        </div>
                    <div class="col-md-6">
                        <img src="../assets/images/appointmentbooking.png" class="secondimg img-responsive center-block"/>
                        </div>
                        </div>
                        </div>
        </div> 
        

        

        </div>


    </div>

    </div>
</div>


<section class="readytostart">
        <div class="container">
        <h3>Do you still have unanswered question?<br/>
            Do not hesitate to contact us! We will advise you personally.</h3>
       
 <a class="btn">Contact Us</a>
        </div>
 </div>
</section>



    <!--    footer Start-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <h4 class="theme">Legal</h4>
                    <ul>
                        <li>
                            <a href="../imprint.html">Imprint</a>
                        </li>
                        <li>
                            <a href="../Privacy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Conditions</a>
                        </li>
                        <li>
                            <a href="../cancellation.html">Cancellation</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4 class="theme">More Information</h4>
                    <ul>
                        <li>
                            <a href="../imprint.html">Imprint</a>
                        </li>
                        <li>
                            <a href="../Privacy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Conditions</a>
                        </li>
                        <li>
                            <a href="../cancellation.html">Cancellation</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4 class="theme">Companies</h4>
                    <ul>
                        <li>
                            <a href="../imprint.html">Imprint</a>
                        </li>
                        <li>
                            <a href="../Privacy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Conditions</a>
                        </li>
                        <li>
                            <a href="../cancellation.html">Cancellation</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4 class="theme">Feeds</h4>
                    <div class="single-item" style="width:140px;">
                        <div>
                            <img src="../assets/images/expert.png" alt="" />
                        </div>
                        <div>
                            <img src="../assets/images/proven_icon.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footerBottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-left">
                         <!-- chat box for query start -->
                         <div class="chatbox">
                                <form class="formBox" method="post">
                                    <div class="card">
                                        <div class="card-header">
                                            Request to the Easy-Tutor Team. <i class="fa fa-angle-down pull-right"></i>
                                        </div>
                                        <div class="card-block">
                                            <div class="card1">
                                            <h4 class="card-title">Open questions about online tutoring? Leave a message to the Easy-Tutor team and we'll get back to you as soon as possible!</h4>
                                            <div class="form-group">
                                                    <label class="form-inline">Email Id</label>
                                                    <input class="form-control" name="email" type="email" required />
                                                    <span class="alert alert-danger">Invalive value</span>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-inline">Name</label>
                                                    <input class="form-control" name="name" type="text" required />
                                                    <span class="alert alert-danger">Invalive name please try again</span>
                                                </div> 
                                                <div class="form-group">
                                                        <label class="form-inline">Mobile</label>
                                                        <input class="form-control" name="name" type="tel" required />
                                                        <span class="alert alert-danger">Invalive mobile no</span>
                                                </div> 
                                                <div class="form-group">
                                                    <button href="#" class="btn btn-default continueBtn">Continue</button>
                                                </div>             
                                            </div>
                                            <div class="card2">
                                                <br>
                                                    <small>Unfortunately we are not online right now. Leave us a message and we'll get back to you as soon as possible!</small>                                                
                                                    <br>
                                                    <div class="form-group">                                                
                                                    <br>
                                                    <label class="form-inline">Message</label>
                                                    <textarea class="form-control" placeholder=""></textarea>                                                
                                                </div>
                                                <div class="form-group">
                                                    <button href="#" class="btn btn-default">Send &nbsp;<i class="fa fa-paper-plane-o"></i></button>
                                                </div>             
                                            </div>                
                                                <!-- <div class="row">
                                                    <div class="btnWrapper text-center col-sm-12">
                                                        <input class="btn btn-default" type="submit" value="" />
                                                    </div>                                               
                                                </div> -->
                                        </div>
                                    </div>
    
                                </form>
                            </div>
                            <!-- chat box for query Ends -->
                        <a href="#">
                            <p class="needHelp">Need Help? Chat with Us</p>
                        </a>
                    </div>
                    <div class="col-md-6 text-right">
                        <ul class="socialLinks">
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--    footer Ends-->
    <script src="../assets/js/jquery-3.2.1.min.js"></script>
    <script src="../assets/js/popper.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>  
    <script src="../assets/js/slick.min.js"></script>
    <script src="../assets/js/aos.js"></script>    
    <script src="../assets/js/custom.js"></script>

    <!-- The Login Modal -->
    <div class="modal fade" id="login">
        <div class="modal-dialog">
            <figure class="text-center">
                <img class="popupLogo" src="../assets/images/popup_logo.png" />
            </figure>
            <div class="modal-content">
                <!-- Modal Header -->
                <!-- <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div> -->

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="index.html" method="post" class="formBox">
                        <div class="form-group">
                            <label class="form-inline">Email Id</label>
                            <input class="form-control" name="email" type="email" required />
                            <span class="alert alert-danger">Invalive value</span>
                        </div>
                        <div class="form-group">
                            <label class="form-inline">Password</label>
                            <input class="form-control" name="password" type="password" required />
                            <span class="alert alert-danger">Invalive pass</span>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="rememberme" />
                                <span>Remember Me</span>
                            </label>
                        </div>
                        <div class="row">
                            <div class="btnWrapper text-center col-sm-12">
                                <input class="btn btn-default" type="submit" />
                            </div>
                            <div class="col-sm-6 text-left"><a href="forgatePassword.html">Forget Password</a></div>
                            <div class="col-sm-6 text-right"><a href="#">New User?</a></div>
                        </div>                        
                    </form>
                </div>

                <!-- Modal footer
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>         -->
            </div>
            <div class="clearfix"></div>
            <a href="#" class="close backtoHome" data-dismiss="modal">
                <img src="../assets/images/arrow-left.png" alt="bkhome" />&nbsp; Back to Easy-tutor</a>
        </div>
    </div>   
    <script>
    
        equalheight = function (container) {

            var currentTallest = 0,
                currentRowStart = 0,
                rowDivs = new Array(),
                $el,
                topPosition = 0;
            $(container).each(function () {

                $el = $(this);
                $($el).height('auto')
                topPostion = $el.position().top;

                if (currentRowStart != topPostion) {
                    for (currentDiv = 0; currentDiv < rowDivs.length; currentDiv++) {
                        rowDivs[currentDiv].height(currentTallest);
                    }
                    rowDivs.length = 0; // empty the array
                    currentRowStart = topPostion;
                    currentTallest = $el.height();
                    rowDivs.push($el);
                } else {
                    rowDivs.push($el);
                    currentTallest = (currentTallest < $el.height()) ? ($el.height()) : (currentTallest);
                }
                for (currentDiv = 0; currentDiv < rowDivs.length; currentDiv++) {
                    rowDivs[currentDiv].height(currentTallest);
                }
            });
        }

        $(window).load(function () {
            equalheight('.equalHeight');
        });


        $(window).resize(function () {
            equalheight('.equalHeight');
        });

    
    </script>
		
</body>

</html>