<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 ,maximum-scale=1">
    <title>easy Tutor</title>
    <link rel="icon" href="../assets/images/icon.png" sizes="192x192" />
    <meta name="description" content="easy tutor, online tutor">
  
    <!-- default css start -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <!-- default css ends -->
    <link href="../assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../assets/fonts/font.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/aos.css" />    
    <!-- default font start -->
    
	<link href="../assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/colors.css" rel="stylesheet" type="text/css">
    
    <!-- default font Ends -->
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/teacherstyle.css" />



    <script type="text/javascript" src="../assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="../assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="../assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

    <!-- Theme JS files -->
    
	<script type="text/javascript" src="../assets/js/plugins/forms/styling/uniform.min.js"></script>
	<script type="text/javascript" src="../assets/js/plugins/forms/selects/select2.min.js"></script>

	<script type="text/javascript" src="../assets/js/core/app.js"></script>
	
    <!-- <script type="text/javascript" src="../assets/js/plugins/ui/ripple.min.js"></script> -->
</head>

<body class="tutor-wrap">
    <!--    preloader start-->
    <div id="preloader">
        <div class="loader-inner" style="z-index:9999999;">
            <img src="#" alt="">
            <p>Loading
                <span>.</span>
                <span>.</span>
                <span>.</span>
            </p>
        </div>
    </div>
    <!--    preloader start -->

    <!-- header start -->
    <header class="studenthome_header">
        <div class="navbar navbar-inverse bg-primary">
        <div class="navbar-header">
            <a class="navbar-brand home" href="index.html">
                <img src="../assets/images/logo.png" alt="">
            </a>

            <ul class="nav navbar-nav visible-xs-block mobile_menu">
                <li>
                    <a href="javascript:void(0)" data-toggle="collapse" data-target="#navbar-mobile">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav middle-menu">
                <li class="nav-item">
                        <a href="#" class="legitRipple">FIND TEACHER </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="legitRipple">THIS IS HOW IT WORKS</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="legitRipple">PRICES</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="legitRipple">CONTACT US</a>
                    </li>
            </ul>

            

            <ul class="nav navbar-nav navbar-right">
                
                
                
<li>
        <div class="indexright_login">
                <a class="" href="#">
                    <img src="../assets/images/login.png" alt="login">
              
                </a>

                <ul class="right-dropdown-menu">
                    <a class="login_sub" href="login.html">Login</a>
                    <a class="" href="register.html">Create Account</a>
                </ul>
            </div>
           
</li>
            
            </ul>
        </div>
        <div class="mobile_indexright_login dropdown">
           
                <a class="dropdown-toggle" type="button" data-toggle="dropdown"><img src="../assets/images/login.png" class="img-sm" alt="login"></a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="login.html">Login</a></li>
                  <li><a href="register.html">Create Account</a></li>                    
                </ul>
            
        </div>
    </div>
    </header>
    <!--    header Ends-->  
    <section class="onlineSection tutortraning_top">
        <div class="container text-center">
            <h1>Prices for online tutoring</h1>
           </div>

    </section>
    

   

    <div class="page-container teachertraning_wrap howitworks2_wrap priceonlinetutoring_wrap">

    <div class="page-content">
     

        <div class="content-wrapper teachertraning_sub howitwork_sub">

        <div class="graybg teachertraning_sub_container">
        <div class="container">
         
        <div class="row">
            <div class="row">
            <div class="col-sm-12">
            <h2 class="text-center onlinehead_head">Private lessons with Easy-Tutor - Cheap, fair and high quality</h2>
            </div>
            </div>
            <div class="clearfix">
        <div class="col-md-5">
         <ul class="leftprivatelesson_list">
         <li>No contracts <i class="icon-cross3"></i></li>
         <li>No registration fee <i class="icon-cross3"></i></li>
         <li>No agency fee <i class="icon-cross3"></i></li>
         <li>No cancellation necessary <i class="icon-cross3"></i></li>
         </ul>
        </div>
        <div class="col-md-7">
            <ul class="rightprivatelesson_list">
                <li><i class="icon-checkmark4"></i> Free change teachers and subjects</li>
                <li><i class="icon-checkmark4"></i> No obligation for weekly booking</li>
                <li><i class="icon-checkmark4"></i> Arrange appointments flexibly in the calendar</li>
                <li><i class="icon-stamp"></i> <a href="">Satisfaction Guarantee</a> with Termination Option</li>
                </ul>
        </div>
    </div>
         </div>

<div class="row priceonline_comparison">
 <div class="col-md-6">
 <div class="panel">
    <i class="icon-trophy2"></i><div class="priceonline_comparisoncontent">For comparison with other tutoring offers - save up to 1000 € per year with Easy-Tutor!</div>
 </div>
 </div>
 <div class="col-md-6">
 <div class="panel">
    <i class="fa fa-gift"></i><div class="priceonline_comparisoncontent">Free tutoring with the education voucher</div>
 </div>
 </div>
</div>

        </div>
        </div>

        <div class="whitebg teachertraning_sub_container">
                <div class="container">
                    <div class="row pricing-table">
                            <div class="price_sub_container">
                                    <div class="panel text-center first_content_price">
                                        <div class="panel-body">
                                            
                                            <ul class="list-unstyled content-group">
                                                <li></li>
                                                <li>payment</li>
                                                <li>Discount</li>
                                                <li class="satisfation"><a href="#">Satisfaction Guarantee with Termination Option *</a></li>
                                                <li class="graphicstable"><strong>Only for a short time: <i class="icon-notification2"></i><br/>free </strong><a href="#">graphics tablet</a>*</li>
                                                <li></li>
                                            </ul>
                                            
                                        </div>
                                    </div>
                                </div>

                        <div class="price_sub_container">
                            <div class="panel text-center pricing-first-container2">
                                <div class="panel-body">
                                    <h4 class="pricing-first-head2">1 lesson</h4>
                                    <h1 class="pricing-table-price"><span class="uro">€</span> 17,60
                                        <span class="text-small">every 45 minutes</span></h1>
                                    <ul class="list-unstyled content-group">
                                        <li>Directly in the calendar of <br/>
                                            the respective teacher</li>
                                        <li><i class="icon-cancel-square2 text-danger"></i></li>
                                        <li class="satisfation"><i class="icon-cancel-square2 text-danger"></i></li>
                                        <li class="graphicstable"><i class="icon-cancel-square2 text-danger"></i></li>
                                        </ul>
                                    <div class="prices_list_footer">
                                    <a href="#" class="btn bg-success-400 btn-lg text-uppercase text-size-small text-semibold legitRipple">Select teacher</a>
                                </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="price_sub_container pricinglinestutoring_res1">
                            <div class="panel text-center">
                                <div class="panel-body">
                                    <h4>20<br/>lessons</h4>
                                    <h1 class="pricing-table-price"><span class="uro">€</span> 16.80
                                        <span class="text-small">every 45 minutes</span></h1>
                                    <ul class="list-unstyled content-group">
                                        <li>once 336,00 €</li>
                                        <li><strong class="green">5%</strong></li>
                                        <li class="satisfation"><i class="icon-cancel-square2 text-danger"></i></li>
                                        <li class="graphicstable"><i class="icon-cancel-square2 text-danger"></i></li>
                                    </ul>
                                    <div class="prices_list_footer">
                                    <a href="#" class="btn bg-success-400 btn-lg text-uppercase text-size-small text-semibold legitRipple">To the shop</a> 
                                </div> 
                                    <div class="ribbon-container">
                                        <div class="ribbon bg-danger-400">-5%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="price_sub_container pricinglinestutoring_res pricinglinestutoring_res1">
                            <div class="panel text-center">
                                <div class="panel-body">
                                    <h4>50<br/>lessons</h4>
                                    <h1 class="pricing-table-price"><span class="uro">€</span> 15,90
                                        <span class="text-small">every 45 minutes</span></h1>
                                    <ul class="list-unstyled content-group">
                                        <li>6 months <br/>
                                            each 132.50 €</li>
                                        <li><strong class="green">10%</strong></li>
                                        <li class="satisfation"><i class="icon-checkbox-checked2 text-success"></i></li>
                                        <li class="graphicstable"><i class="icon-checkbox-checked2 text-success"></i></li>
                                    </ul>
                                    <div class="prices_list_footer">
                                    <a href="#" class="btn bg-danger-400 btn-lg text-uppercase text-size-small text-semibold legitRipple">To the shop</a>
                                </div>
                                    <div class="ribbon-container">
                                        <div class="ribbon bg-danger-400">-10%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="price_sub_container pricinglinestutoring_res pricinglinestutoring_res1">
                            <div class="panel text-center">
                                <div class="panel-body">
                                    <h4>100<br/>lessons</h4>
                                    <h1 class="pricing-table-price pricing-table-price-yellow"><span class="uro">€</span> 14.95
                                        <span class="text-small">every 45 minutes</span></h1>
                                    <ul class="list-unstyled content-group">
                                        <li>12 months<br/>
                                            each € 124.60</li>
                                        <li><strong class="green">15%</strong></li>
                                        <li class="satisfation"><i class="icon-checkbox-checked2 text-success"></i></li>
                                        <li class="graphicstable"><i class="icon-checkbox-checked2 text-success"></i></li>
                                    </ul>
                                    <div class="prices_list_footer_yellow">
                                    <a href="#" class="btn bg-success-400 btn-lg text-uppercase text-size-small text-semibold legitRipple">To the shop</a>
                                </div> 
                                    <div class="ribbon-container">
                                        <div class="ribbon bg-danger-400">-15%</div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>  
                    
                    <div class="pricesonlinetutoring_bottomcontent">
                        <p>If you choose one of the austerity packages, all lessons will be credited to a time account. This credit can be redeemed within 2 years in every subject and teacher of your choice.
                         The monthly charge is only a partial payment of the total amount. Example calculation: 50x15.90 € corresponds to a total of 795 €. The sum is divided by 6 and it will be debited for 6 months 132.50 € / month.
                        </p>
                        <p>The Wacom graphics tablet is available in the 50s package on loan and in the 100er package as a gift. In all other offers, the tray is not included!
                          * Valid only for new customers when completing a membership with monthly payment (50s or 100s package).</p>
                       </div>

         </div>
        </div>
        
        </div>


    </div>

    </div>
</div>


<!-- <section class="readytostart howitwork_readytostart">
        <div class="container">
<h3>Try the online tuition for free with a teacher of your choice!
        </h3>
<h3 class="create_head_read">Create an account and get a free trial lesson</h3>

<a class="btn howitwork1_triallesson"><i class="icon-gift"></i> Secure a free trial lesson</a>   <span class="howitwork1_btnseperater"> or </span> 
 <a class="btn choose_triallesson">Choose a teacher</a>
 <p class="howitworks1-font5">Meet our teachers!</p>
        </div>
</section> -->



    <!--    footer Start-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <h4 class="theme">Legal</h4>
                    <ul>
                        <li>
                            <a href="../imprint.html">Imprint</a>
                        </li>
                        <li>
                            <a href="../Privacy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Conditions</a>
                        </li>
                        <li>
                            <a href="../cancellation.html">Cancellation</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4 class="theme">More Information</h4>
                    <ul>
                        <li>
                            <a href="../imprint.html">Imprint</a>
                        </li>
                        <li>
                            <a href="../Privacy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Conditions</a>
                        </li>
                        <li>
                            <a href="../cancellation.html">Cancellation</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4 class="theme">Companies</h4>
                    <ul>
                        <li>
                            <a href="../imprint.html">Imprint</a>
                        </li>
                        <li>
                            <a href="../Privacy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Conditions</a>
                        </li>
                        <li>
                            <a href="../cancellation.html">Cancellation</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4 class="theme">Feeds</h4>
                    <div class="single-item" style="width:140px;">
                        <div>
                            <img src="../assets/images/expert.png" alt="" />
                        </div>
                        <div>
                            <img src="../assets/images/proven_icon.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footerBottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-left">
                         <!-- chat box for query start -->
                         <div class="chatbox">
                                <form class="formBox" method="post">
                                    <div class="card">
                                        <div class="card-header">
                                            Request to the Easy-Tutor Team. <i class="fa fa-angle-down pull-right"></i>
                                        </div>
                                        <div class="card-block">
                                            <div class="card1">
                                            <h4 class="card-title">Open questions about online tutoring? Leave a message to the Easy-Tutor team and we'll get back to you as soon as possible!</h4>
                                            <div class="form-group">
                                                    <label class="form-inline">Email Id</label>
                                                    <input class="form-control" name="email" type="email" required />
                                                    <span class="alert alert-danger">Invalive value</span>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-inline">Name</label>
                                                    <input class="form-control" name="name" type="text" required />
                                                    <span class="alert alert-danger">Invalive name please try again</span>
                                                </div> 
                                                <div class="form-group">
                                                        <label class="form-inline">Mobile</label>
                                                        <input class="form-control" name="name" type="tel" required />
                                                        <span class="alert alert-danger">Invalive mobile no</span>
                                                </div> 
                                                <div class="form-group">
                                                    <button href="#" class="btn btn-default continueBtn">Continue</button>
                                                </div>             
                                            </div>
                                            <div class="card2">
                                                <br>
                                                    <small>Unfortunately we are not online right now. Leave us a message and we'll get back to you as soon as possible!</small>                                                
                                                    <br>
                                                    <div class="form-group">                                                
                                                    <br>
                                                    <label class="form-inline">Message</label>
                                                    <textarea class="form-control" placeholder=""></textarea>                                                
                                                </div>
                                                <div class="form-group">
                                                    <button href="#" class="btn btn-default">Send &nbsp;<i class="fa fa-paper-plane-o"></i></button>
                                                </div>             
                                            </div>                
                                                <!-- <div class="row">
                                                    <div class="btnWrapper text-center col-sm-12">
                                                        <input class="btn btn-default" type="submit" value="" />
                                                    </div>                                               
                                                </div> -->
                                        </div>
                                    </div>
    
                                </form>
                            </div>
                            <!-- chat box for query Ends -->
                        <a href="#">
                            <p class="needHelp">Need Help? Chat with Us</p>
                        </a>
                    </div>
                    <div class="col-md-6 text-right">
                        <ul class="socialLinks">
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--    footer Ends-->
    <script src="../assets/js/jquery-3.2.1.min.js"></script>
    <script src="../assets/js/popper.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>  
    <script src="../assets/js/slick.min.js"></script>
    <script src="../assets/js/aos.js"></script>    
    <script src="../assets/js/custom.js"></script>

    <!-- The Login Modal -->
    <div class="modal fade" id="login">
        <div class="modal-dialog">
            <figure class="text-center">
                <img class="popupLogo" src="../assets/images/popup_logo.png" />
            </figure>
            <div class="modal-content">
                <!-- Modal Header -->
                <!-- <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div> -->

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="index.html" method="post" class="formBox">
                        <div class="form-group">
                            <label class="form-inline">Email Id</label>
                            <input class="form-control" name="email" type="email" required />
                            <span class="alert alert-danger">Invalive value</span>
                        </div>
                        <div class="form-group">
                            <label class="form-inline">Password</label>
                            <input class="form-control" name="password" type="password" required />
                            <span class="alert alert-danger">Invalive pass</span>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="rememberme" />
                                <span>Remember Me</span>
                            </label>
                        </div>
                        <div class="row">
                            <div class="btnWrapper text-center col-sm-12">
                                <input class="btn btn-default" type="submit" />
                            </div>
                            <div class="col-sm-6 text-left"><a href="forgatePassword.html">Forget Password</a></div>
                            <div class="col-sm-6 text-right"><a href="#">New User?</a></div>
                        </div>                        
                    </form>
                </div>

                <!-- Modal footer
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>         -->
            </div>
            <div class="clearfix"></div>
            <a href="#" class="close backtoHome" data-dismiss="modal">
                <img src="../assets/images/arrow-left.png" alt="bkhome" />&nbsp; Back to Easy-tutor</a>
        </div>
    </div>   
    
		
</body>

</html>