<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 ,maximum-scale=1">
    <title>easy Tutor</title>
    <link rel="icon" href="../assets/images/icon.png" sizes="192x192" />
    <meta name="description" content="easy tutor, online tutor">
  
    <!-- default css start -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <!-- default css ends -->
    <link href="../assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../assets/fonts/font.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/aos.css" />    
    <!-- default font start -->
    
	<link href="../assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/colors.css" rel="stylesheet" type="text/css">
    
    <!-- default font Ends -->
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/teacherstyle.css" />






    <script type="text/javascript" src="../assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="../assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="../assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

    <!-- Theme JS files -->
    
	<script type="text/javascript" src="../assets/js/plugins/forms/styling/uniform.min.js"></script>
	<script type="text/javascript" src="../assets/js/plugins/forms/selects/select2.min.js"></script>

	<script type="text/javascript" src="../assets/js/core/app.js"></script>
	<script type="text/javascript" src="../assets/js/pages/form_layouts.js"></script>
    <script type="text/javascript" src="../assets/js/pages/form_checkboxes_radios.js"></script>
    <script type="text/javascript" src="../assets/js/plugins/ui/ripple.min.js"></script>
    <style>
        @media screen and (max-width:768px) {
         
    iframe {
    width: 100%;
    height: 303px;
    margin: 30px auto;
    float: none;
    /* margin-bottom: 28px; */
}   
        }
  
    </style>
</head>

<body class="tutor-wrap">
    <!--    preloader start-->
    <div id="preloader">
        <div class="loader-inner" style="z-index:9999999;">
            <img src="#" alt="">
            <p>Loading
                <span>.</span>
                <span>.</span>
                <span>.</span>
            </p>
        </div>
    </div>
    <!--    preloader start -->

    <!-- header start -->
     
    <header class="studenthome_header">
            <div class="navbar navbar-inverse bg-primary">
            <div class="navbar-header">
                <a class="navbar-brand home" href="index.html">
                    <img src="../assets/images/logo.png" alt="">
                </a>
    
                <ul class="nav navbar-nav visible-xs-block mobile_menu">
                    <li>
                        <a href="javascript:void(0)" data-toggle="collapse" data-target="#navbar-mobile">
                            <i class="icon-paragraph-justify3"></i>
                        </a>
                    </li>
                </ul>
            </div>
    
            <div class="navbar-collapse collapse" id="navbar-mobile">
                <ul class="nav navbar-nav middle-menu">
                    <li class="nav-item">
                            <a href="#" class="legitRipple">FIND TEACHER </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="legitRipple">THIS IS HOW IT WORKS</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="legitRipple">PRICES</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="legitRipple">CONTACT US</a>
                        </li>
                </ul>
    
                
    
                <ul class="nav navbar-nav navbar-right">
                    
                    
                    
    <li>
            <div class="indexright_login">
                    <a class="" href="#">
                        <img src="../assets/images/login.png" alt="login">
                  
                    </a>
    
                    <ul class="right-dropdown-menu">
                        <a class="login_sub" href="login.html">Login</a>
                        <a class="" href="register.html">Create Account</a>
                    </ul>
                </div>
               
    </li>
                
                </ul>
            </div>
            <div class="mobile_indexright_login dropdown">
               
                    <a class="dropdown-toggle" type="button" data-toggle="dropdown"><img src="../assets/images/login.png" class="img-sm" alt="login"></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li><a href="login.html">Login</a></li>
                      <li><a href="register.html">Create Account</a></li>                    
                    </ul>
                
            </div>
        </div>
        </header>
       <!-- header Ends  
    <section class="onlineSection tutortraning_top">
        <div class="container text-center">
            <h2>You want to give online tutoring?</h2>
           </div>

    </section> -->
    <section class="onlineSection tutorregistration_top">
            <div class="container text-center">
                <h1>Teacher Traning</h1>
                
                <!-- <p>You love to tutor? Well rewarded and comfortable from your computer? Then Easy-Tutor is the right platform for you - because this is where good tutoring teachers work together with their students successfully and simply on an online platform.</p> -->
    
            </div>
    
        </section>
    

   

    <div class="page-container teachertraning_wrap">

    <div class="page-content">
     <!--Sliderbar started-->
     
        <!--End sidebar-->


        <div class="content-wrapper teachertraning_sub">

        <div class="graybg teachertraning_sub_container">
        <div class="container">
         
        <div class="row">
        <div class="col-md-6">
                <h2>1. Step: Directive</h2>
     <div class="teachercontent3"><i class="fa fa-check"></i><p>Read the guidelines of the Easy-Tutor online tutoring and then watch the videos.</p></div>
     <a href="#" class="btn btn-primary"> Download Guideline</a>
        </div>
        <div class="col-md-6">
   <img src="../assets/images/Teachers_Directive.png" class=" img-responsive center-block firstimg"/>
        </div>
        </div>
        </div>
        </div>

        <div class="whitebg teachertraning_sub_container">
                <div class="container">
                        <div class="row">
                                <div class="col-md-6">
                                        <iframe width="424" autoplay  height="238" src="https://www.youtube.com/embed/7OmJBMGYbms" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="video_responsive1"></iframe>    
                                </div>
                                <div class="col-md-6">
                                        <h2>2. Step: Set Up </h2>
                                     <div class="teachercontent3"><p>Watch the video and learn how to book student in the future and how to share your availabilities. Then set up your availabilities in the calendar.
                                        </p></div>
                                     <a href="#" class="btn btn-primary"> To The Acuity Calender</a>
                                        </div>
                        </div>
                        </div>
        </div>

        <div class="graybg teachertraning_sub_container">
                <div class="container">
                        <div class="row">
                                <div class="col-md-6">
                                <h2>3. Step: Zoom Us</h2>
                             <div class="teachercontent3"><p>Read the guidelines of the Easy-Tutor online tutoring and then watch the videos.</p></div>
                             <a href="#" class="btn btn-primary"> Zoom.Us</a>
                                </div>
                                <div class="col-md-6">
                                        <iframe width="424" autoplay  height="238" src="https://www.youtube.com/embed/7OmJBMGYbms" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="video_responsive2"></iframe>    
                           <!-- <img src="../assets/images/Teachers_Directive.png" class=" img-responsive center-block firstimg"/> -->
                                </div>
                        </div>
                        </div>
        </div>
        
        <div class="whitebg teachertraning_sub_container">
                <div class="container">
                        <div class="row">
                                <div class="col-md-6">
                                        <iframe width="424" autoplay  height="238" src="https://www.youtube.com/embed/7OmJBMGYbms" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="video_responsive1"></iframe>    
                                        <!-- <img src="../assets/images/Teachers_Directive.png" class=" img-responsive center-block secondimg"/> -->
                                             </div>
                                <div class="col-md-6">
                                        <h2>4. Step: User Area and Cloud</h2>
                                     <div class="teachercontent3"><p>The video explains the user area and cloud features. After watching the video, create a new folder in the Easy-Cloud and share it with the Student Easy-Tutor user. Then load any file into this folder.</p></div>
                                      </div>
                        </div>
                        </div>
        </div>

        <div class="graybg teachertraning_sub_container">
                <div class="container">
                        <div class="row">
                        <div class="col-sm-12 completetraning">
                                <h2>Last Step: Complete Training</h2>
                                <div><i class="fa fa-check"></i><p>if you have watched all the videos, you can complete the training. To do this, simply fill out the form below and send us a description that the student will see and a picture of you in the style of the teachers who are already at Easy-Tutor.
                                    </p>
                               <p>Afterwards you will be redirected to a page where you can make an appointment with Massimo Cancellara. This is the last personal appointment in which you will be briefed and examined. Then you can unlock for Easy-Tutor.</p>
                                </div>
                                 
                                <div class="form-group FutureTeacher2">
                                        <label>Future Teacher Description</label>
                                        <textarea rows="5" cols="5" class="form-control" placeholder="Enter your message here" required=""></textarea>
                                    </div>

                                    <h5 class="uploadphoto_head">Upload Photo</h5>
                                    <div class="uploader">
                                           <input type="file" class="file-styled" id="tutorchoose" reqiured="">
                                            
                                            <span class="action btn btn-primary legitRipple" style="user-select: none;">Choose File</span></div>
                                            <br><br><span class="filename" id="tutorfile" style=" display:block; user-select: none;">Please look in the blue shirt or blouse and sideways into the camera. Make sure the picture is taken against a light background.</span>

                                            <div class="text-center endtraning_btn">
                                                    <button type="submit" class="btn btn-primary">End Traning and Continue to the Appointment<i class="icon-arrow-right14 position-right"></i></button>
                                                </div>
                        </div>
                        </div>
                        </div>
        </div>

        </div>


    </div>

    </div>
</div>


<!-- <section class="readytostart">
        <div class="container">
        <h3>Ready to get started?</h3>
        <a class="btn"> Get a Free Trial Lesson</a>
 <a class="btn">Find Teacher</a>
        </div>
 </div>
</section> -->



    <!--    footer Start-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <h4 class="theme">Legal</h4>
                    <ul>
                        <li>
                            <a href="../imprint.html">Imprint</a>
                        </li>
                        <li>
                            <a href="../Privacy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Conditions</a>
                        </li>
                        <li>
                            <a href="../cancellation.html">Cancellation</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4 class="theme">More Information</h4>
                    <ul>
                        <li>
                            <a href="../imprint.html">Imprint</a>
                        </li>
                        <li>
                            <a href="../Privacy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Conditions</a>
                        </li>
                        <li>
                            <a href="../cancellation.html">Cancellation</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4 class="theme">Companies</h4>
                    <ul>
                        <li>
                            <a href="../imprint.html">Imprint</a>
                        </li>
                        <li>
                            <a href="../Privacy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Conditions</a>
                        </li>
                        <li>
                            <a href="../cancellation.html">Cancellation</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4 class="theme">Feeds</h4>
                    <div class="single-item" style="width:140px;">
                        <div>
                            <img src="../assets/images/expert.png" alt="" />
                        </div>
                        <div>
                            <img src="../assets/images/proven_icon.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footerBottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-left">
                         <!-- chat box for query start -->
                         <div class="chatbox">
                                <form class="formBox" method="post">
                                    <div class="card">
                                        <div class="card-header">
                                            Request to the Easy-Tutor Team. <i class="fa fa-angle-down pull-right"></i>
                                        </div>
                                        <div class="card-block">
                                            <div class="card1">
                                            <h4 class="card-title">Open questions about online tutoring? Leave a message to the Easy-Tutor team and we'll get back to you as soon as possible!</h4>
                                            <div class="form-group">
                                                    <label class="form-inline">Email Id</label>
                                                    <input class="form-control" name="email" type="email" required />
                                                    <span class="alert alert-danger">Invalive value</span>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-inline">Name</label>
                                                    <input class="form-control" name="name" type="text" required />
                                                    <span class="alert alert-danger">Invalive name please try again</span>
                                                </div> 
                                                <div class="form-group">
                                                        <label class="form-inline">Mobile</label>
                                                        <input class="form-control" name="name" type="tel" required />
                                                        <span class="alert alert-danger">Invalive mobile no</span>
                                                </div> 
                                                <div class="form-group">
                                                    <button href="#" class="btn btn-default continueBtn">Continue</button>
                                                </div>             
                                            </div>
                                            <div class="card2">
                                                <br>
                                                    <small>Unfortunately we are not online right now. Leave us a message and we'll get back to you as soon as possible!</small>                                                
                                                    <br>
                                                    <div class="form-group">                                                
                                                    <br>
                                                    <label class="form-inline">Message</label>
                                                    <textarea class="form-control" placeholder=""></textarea>                                                
                                                </div>
                                                <div class="form-group">
                                                    <button href="#" class="btn btn-default">Send &nbsp;<i class="fa fa-paper-plane-o"></i></button>
                                                </div>             
                                            </div>                
                                                <!-- <div class="row">
                                                    <div class="btnWrapper text-center col-sm-12">
                                                        <input class="btn btn-default" type="submit" value="" />
                                                    </div>                                               
                                                </div> -->
                                        </div>
                                    </div>
    
                                </form>
                            </div>
                            <!-- chat box for query Ends -->
                        <a href="#">
                            <p class="needHelp">Need Help? Chat with Us</p>
                        </a>
                    </div>
                    <div class="col-md-6 text-right">
                        <ul class="socialLinks">
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--    footer Ends-->
    <script src="../assets/js/jquery-3.2.1.min.js"></script>
    <script src="../assets/js/popper.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>  
    <script src="../assets/js/slick.min.js"></script>
    <script src="../assets/js/aos.js"></script>    
    <script src="../assets/js/custom.js"></script>

    <!-- The Login Modal -->
    <div class="modal fade" id="login">
        <div class="modal-dialog">
            <figure class="text-center">
                <img class="popupLogo" src="../assets/images/popup_logo.png" />
            </figure>
            <div class="modal-content">
                <!-- Modal Header -->
                <!-- <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div> -->

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="index.html" method="post" class="formBox">
                        <div class="form-group">
                            <label class="form-inline">Email Id</label>
                            <input class="form-control" name="email" type="email" required />
                            <span class="alert alert-danger">Invalive value</span>
                        </div>
                        <div class="form-group">
                            <label class="form-inline">Password</label>
                            <input class="form-control" name="password" type="password" required />
                            <span class="alert alert-danger">Invalive pass</span>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="rememberme" />
                                <span>Remember Me</span>
                            </label>
                        </div>
                        <div class="row">
                            <div class="btnWrapper text-center col-sm-12">
                                <input class="btn btn-default" type="submit" />
                            </div>
                            <div class="col-sm-6 text-left"><a href="forgatePassword.html">Forget Password</a></div>
                            <div class="col-sm-6 text-right"><a href="#">New User?</a></div>
                        </div>                        
                    </form>
                </div>

                <!-- Modal footer
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>         -->
            </div>
            <div class="clearfix"></div>
            <a href="#" class="close backtoHome" data-dismiss="modal">
                <img src="../assets/images/arrow-left.png" alt="bkhome" />&nbsp; Back to Easy-tutor</a>
        </div>
    </div>   
    <script>
    
        equalheight = function (container) {

            var currentTallest = 0,
                currentRowStart = 0,
                rowDivs = new Array(),
                $el,
                topPosition = 0;
            $(container).each(function () {

                $el = $(this);
                $($el).height('auto')
                topPostion = $el.position().top;

                if (currentRowStart != topPostion) {
                    for (currentDiv = 0; currentDiv < rowDivs.length; currentDiv++) {
                        rowDivs[currentDiv].height(currentTallest);
                    }
                    rowDivs.length = 0; // empty the array
                    currentRowStart = topPostion;
                    currentTallest = $el.height();
                    rowDivs.push($el);
                } else {
                    rowDivs.push($el);
                    currentTallest = (currentTallest < $el.height()) ? ($el.height()) : (currentTallest);
                }
                for (currentDiv = 0; currentDiv < rowDivs.length; currentDiv++) {
                    rowDivs[currentDiv].height(currentTallest);
                }
            });
        }

        $(window).load(function () {
            equalheight('.equalHeight');
        });


        $(window).resize(function () {
            equalheight('.equalHeight');
        });

    
    </script>
		
</body>

</html>