<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 ,maximum-scale=1">
    <title>easy Tutor</title>
    <link rel="icon" href="../assets/images/icon.png" sizes="192x192" />
    <meta name="description" content="easy tutor, online tutor">
  
    <!-- default css start -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <!-- default css ends -->
    <link href="../assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../assets/fonts/font.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/aos.css" />    
    <!-- default font start -->
    
	<link href="../assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/colors.css" rel="stylesheet" type="text/css">
    
    <!-- default font Ends -->
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/teacherstyle.css" />



    <script type="text/javascript" src="../assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="../assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="../assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

    <!-- Theme JS files -->
    
	<script type="text/javascript" src="../assets/js/plugins/forms/styling/uniform.min.js"></script>
	<script type="text/javascript" src="../assets/js/plugins/forms/selects/select2.min.js"></script>

	<script type="text/javascript" src="../assets/js/core/app.js"></script>

</head>

<body class="tutor-wrap">
    <!--    preloader start-->
    <div id="preloader">
        <div class="loader-inner" style="z-index:9999999;">
            <img src="#" alt="">
            <p>Loading
                <span>.</span>
                <span>.</span>
                <span>.</span>
            </p>
        </div>
    </div>
    <!--    preloader start -->

    <!-- header start -->
    <header class="studenthome_header">
        <div class="navbar navbar-inverse bg-primary">
        <div class="navbar-header">
            <a class="navbar-brand home" href="index.html">
                <img src="../assets/images/logo.png" alt="">
            </a>

            <ul class="nav navbar-nav visible-xs-block mobile_menu">
                <li>
                    <a href="javascript:void(0)" data-toggle="collapse" data-target="#navbar-mobile">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav middle-menu">
                <li class="nav-item">
                        <a href="#" class="legitRipple">FIND TEACHER </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="legitRipple">THIS IS HOW IT WORKS</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="legitRipple">PRICES</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="legitRipple">CONTACT US</a>
                    </li>
            </ul>

            

            <ul class="nav navbar-nav navbar-right">
                
                
                
<li>
        <div class="indexright_login">
                <a class="" href="#">
                    <img src="../assets/images/login.png" alt="login">
              
                </a>

                <ul class="right-dropdown-menu">
                    <a class="login_sub" href="login.html">Login</a>
                    <a class="" href="register.html">Create Account</a>
                </ul>
            </div>
           
</li>
            
            </ul>
        </div>
        <div class="mobile_indexright_login dropdown">
           
                <a class="dropdown-toggle" type="button" data-toggle="dropdown"><img src="../assets/images/login.png" class="img-sm" alt="login"></a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="login.html">Login</a></li>
                  <li><a href="register.html">Create Account</a></li>                    
                </ul>
            
        </div>
    </div>
    </header>
    <!--    header Ends-->  
    <section class="onlineSection tutortraning_top">
        <div class="container text-center suitable_banner">
            <h1>Tutoring Price Comparison - This is how much you save with Easy-Tutor</h1>
           </div>

    </section>
    

   

    <div class="page-container teachertraning_wrap howitworks1_wrap">

    <div class="page-content">
     

        <div class="content-wrapper teachertraning_sub howitwork_sub effectivestudent_wrap">





           <div class="container">
            <h2 class="content-group text-semibold text-center pricingcomparison_table_head">
                1. Private lessons per home visit by private tutors
            </h2>

            <div class="tutoringprice_logo"><img src="../assets/images/Easy-Tutor-Logo-schwarz-130x70.png" class="img-responsive"/></div>
            <div class="panel" style="margin-bottom: 40px;">
                <div class="table-responsive pricingcomparison_table_wrap">
                    <table class="table table-hover table-striped table-bordered text-center pricingcomparison_table">
                        <thead>
                            <tr>
                                <th> <h6 class="text-semibold mt-5 mb-5">Costs per 45 minutes</h6></th>
                                <th class="text-center">
                                 <h6 class="text-semibold mt-5 mb-5">Private teacher</h6> 
                                </th>
                                <th class="text-center">
                                    <h6 class="text-semibold mt-5 mb-5">Well-known institutes</h6>
                                    
                                </th>
                                <th class="text-center">
                                        <img src="../assets/images/Easy-Tutor-Logo-schwarz-130x70.png" class="img-responsive tutoringprice_logo2"/></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-left">Free trial lesson</td>
                                <td><span class="text-bold">13-35 €</span> (depending on qualification)</td>
                                <td><span class="text-bold">30-60 €</span></td>
                                <td><span class="text-bold">14.95-17.60 €</span></td>
                            </tr>
                            <tr>
                                <td class="text-left">Satisfaction</td>
                                <td><i class="icon-cancel-square2 text-danger"></i></td>
                                <td><i class="icon-cancel-square2 text-danger"></i></td>
                                <td><i class="icon-checkbox-checked2 text-success"></i></td>
                            </tr>
                            <tr>
                                <td class="text-left">Guarantee or Money Back Guarantee</td>
                                <td><i class="icon-cancel-square2 text-danger"></i></td>
                                <td><span class="font-red">Only with group help</span></td>
                                <td><i class="icon-checkbox-checked2 text-success"></i></td>
                            </tr>
                            <tr>
                                <td class="text-left">Security + reliability</td>
                                <td><i class="icon-cancel-square2 text-danger"></i></td>
                                <td><i class="icon-checkbox-checked2 text-success"></i></td>
                                <td><i class="icon-checkbox-checked2 text-success"></i></td>
                            </tr>
                            <tr>
                                <td class="text-left">Flexibility in choosing 
                                    appointments and subjects</td>
                                <td><i class="icon-cancel-square2 text-danger"></i></td>
                                <td><span class="font-red">Causes additional costs</span></td>
                                <td><i class="icon-checkbox-checked2 text-success"></i></td>
                            </tr>
                            <tr>
                                <td class="text-left">Securing the documents</td>
                                <td><i class="icon-cancel-square2 text-danger"></i></td>
                                <td><i class="icon-cancel-square2 text-danger"></i></td>
                                <td><i class="icon-checkbox-checked2 text-success"></i></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="pricingcomparison_table_bottominfo">With the Easy-Tutor single tuition you <strong>save up to 45 €</strong> per tutorial!</div>

        </div>




        <div class="bluebg teachertraning_sub_container">
            <!-- <div class="container">
                    <div class="row">
                <div class="col-md-12 Professionalonline_content23 Flexibletime_content23">
                    <div class="row">
                        <div class="col-sm-12">
                        <h2 class="text-center onlinehead_head font-weight">Classic tutoring at the institute on site - the best solution?</h2>
                        </div>
                        </div>
            
                     <p class="effectivestudent_para">If you want to "play it safe", then many opt for a tutoring around the corner. Because why worry about tuition? You want to change the condition of a <strong>bad grade as soon as possible,</strong> and preferably immediately and <strong>not in 2 years</strong> ! This works best with the well-known institutes, they have the experience and do not gamble on a certain, right? Unfortunately, the rule is that <strong>long contracts</strong> must be completed to get a "tutoring from 8 €". These contracts are linked to an <strong>unnecessary handling fee</strong> and the <strong>obligation 3 times a week</strong> To take lessons. Then your child has to drive to the institute every week at the same time completely listless and demotivated, where it is put in a room with felt 10 other tuition students from different grades.</p>
                    <p class="effectivestudent_para">Who decides against the cheap group help, also finds providers who offer private lessons for the home, but this is <strong>usually priceless</strong> and costs depending on the term of the contract at least 40 € per lesson.</p>
                    <p>And what do you do if you also need tuition in another subject? This is very problematic for instutites, because the contract is usually only for a specific subject or a private teacher and for the <strong>desired flexibility is then a hefty fee due</strong> . Yes, this kind of tutoring should be avoided!</p>
                </div>
                </div>
                    </div> -->




                    <div class="container blue_teachertraning_sub">
                        <h2 class="content-group text-semibold text-center pricingcomparison_table_head">
                            2. Group tutoring in comparison to Easy-Tutor tutoring
                        </h2>
                
                        <div class="tutoringprice_logo tutoringprice_logo4"><img src="../assets/images/Easy-Tutor-Logo-schwarz-130x70.png" class="img-responsive"/></div>
                        <div class="panel" style="margin-bottom: 40px;">
                            <div class="table-responsive pricingcomparison_table_wrap">
                                <table class="table table-hover table-striped table-bordered text-center pricingcomparison_table">
                                    <thead>
                                        <tr>
                                            <th> <h6 class="text-semibold mt-5 mb-5"></h6></th>
                                            <th class="text-center">
                                             <h6 class="text-semibold mt-5 mb-5">Well-known tutoring institutes</h6> 
                                            </th>
                                            
                                            <th class="text-center">
                                                    <img src="../assets/images/Easy-Tutor-Logo-schwarz-130x70.png" class="img-responsive tutoringprice_logo2"/></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-left">Quality of tutoring</td>
                                            <td><span class="font-red">group tutoring</span></td>
                                            <td><span class="font-green">tutors</span></td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Cost per month 
                                                (at term: 1 year)</td>
                                            <td>160-200 €</td>
                                            <td>124.60 €</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Costs per 45 minutes</td>
                                            <td>10-13 €</td>
                                            <td>14,95 €</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Number of lessons</td>
                                            <td>4 per week</td>
                                            <td>2 per week</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Notice period</td>
                                            <td>1-3 months</td>
                                            <td>No contract</td>
                                        </tr>
                                        
                                        <tr>
                                            <td class="text-left">Holiday break</td>
                                            <td>Loss of money on no shows</td>
                                            <td>Easily possible</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Flexibility + spontaneity</td>
                                            <td>Strict schedule</td>
                                            <td>Free choice of appointment,
                                                even in the short term mgl.</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Dates on the weekend</td>
                                            <td><i class="icon-cancel-square2 text-danger"></i></td>
                                            <td><i class="icon-checkbox-checked2 text-success"></i></td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="pricingcomparison_table_bottominfo">Savings compared to group help: Up to <strong>€ 1000 per year!</strong></div>
                
                    </div>
    </div> 

 
    
    <div class="container">
        <h2 class="content-group text-semibold text-center pricingcomparison_table_head">
            3. Comparison with other online tutoring offers
        </h2>

        <div class="tutoringprice_logo tutoringprice_logo3"><img src="../assets/images/Easy-Tutor-Logo-schwarz-130x70.png" class="img-responsive"/></div>
        <div class="panel" style="margin-bottom: 40px;">
            <div class="table-responsive pricingcomparison_table_wrap">
                <table class="table table-hover table-striped table-bordered text-center pricingcomparison_table">
                    <thead>
                        <tr>
                            <th> <h6 class="text-semibold mt-5 mb-5">Costs per 45 minutes</h6></th>
                            <th class="text-center">
                             <h6 class="text-semibold mt-5 mb-5">Provider for online tutoring</h6> 
                            </th>
                            
                            <th class="text-center">
                                    <img src="../assets/images/Easy-Tutor-Logo-schwarz-130x70.png" class="img-responsive tutoringprice_logo2"/></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="equipped_data_border">
                            <td class="text-left">Equipped with graphics tablet for better interactivity</td>
                            <td><span class="text-bold">from 18 €</span> <i class="icon-cancel-square2 text-danger"></i></td>
                            <td><span class="text-bold">from 14.95 €</span><i class="icon-checkbox-checked2 text-success"></i></td>
                        </tr>
                        <tr>
                            <td class="text-left">Suitable and easy- to-use software</td>
                            <td>Installation of several 
                                programs necessary</td>
                            <td>Premium software</td>
                        </tr>
                        <tr>
                            <td class="text-left">Selection of tutors</td>
                            <td>Mostly no choice 
                                or review of teachers</td>
                            <td>Wide range of 
                                verified teachers</td>
                        </tr>
                        <tr>
                            <td class="text-left">Practical appointment finding 
                                in the online calendar</td>
                            <td>Misc. solutions</td>
                            <td><i class="icon-checkbox-checked2 text-success"></i></td>
                        </tr>
                        <tr>
                            <td class="text-left">Agreement of a trial lesson</td>
                            <td>Contact required</td>
                            <td>Very easy</td>
                        </tr>
                        
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pricingcomparison_table_bottominfo">Easy-Tutor is more flexible, high quality and you save up to 42%!</div>

    </div>


 


        </div>


    </div>

    </div>
</div>


<section class="readytostart howitwork_readytostart">
        <div class="container">
<h3>Try the online tuition for free with a teacher of your choice!
        </h3>
<h3 class="create_head_read">Create an account and get a free trial lesson</h3>

<a class="btn howitwork1_triallesson"><i class="icon-gift"></i> Secure a free trial lesson</a>   <span class="howitwork1_btnseperater"> or </span> 
 <a class="btn choose_triallesson">Choose a teacher</a>
 <p class="howitworks1-font5">Meet our teachers!</p>
        </div>
</section>



    <!--    footer Start-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <h4 class="theme">Legal</h4>
                    <ul>
                        <li>
                            <a href="../imprint.html">Imprint</a>
                        </li>
                        <li>
                            <a href="../Privacy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Conditions</a>
                        </li>
                        <li>
                            <a href="../cancellation.html">Cancellation</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4 class="theme">More Information</h4>
                    <ul>
                        <li>
                            <a href="../imprint.html">Imprint</a>
                        </li>
                        <li>
                            <a href="../Privacy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Conditions</a>
                        </li>
                        <li>
                            <a href="../cancellation.html">Cancellation</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4 class="theme">Companies</h4>
                    <ul>
                        <li>
                            <a href="../imprint.html">Imprint</a>
                        </li>
                        <li>
                            <a href="../Privacy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Conditions</a>
                        </li>
                        <li>
                            <a href="../cancellation.html">Cancellation</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4 class="theme">Feeds</h4>
                    <div class="single-item" style="width:140px;">
                        <div>
                            <img src="../assets/images/expert.png" alt="" />
                        </div>
                        <div>
                            <img src="../assets/images/proven_icon.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footerBottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-left">
                         <!-- chat box for query start -->
                         <div class="chatbox">
                                <form class="formBox" method="post">
                                    <div class="card">
                                        <div class="card-header">
                                            Request to the Easy-Tutor Team. <i class="fa fa-angle-down pull-right"></i>
                                        </div>
                                        <div class="card-block">
                                            <div class="card1">
                                            <h4 class="card-title">Open questions about online tutoring? Leave a message to the Easy-Tutor team and we'll get back to you as soon as possible!</h4>
                                            <div class="form-group">
                                                    <label class="form-inline">Email Id</label>
                                                    <input class="form-control" name="email" type="email" required />
                                                    <span class="alert alert-danger">Invalive value</span>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-inline">Name</label>
                                                    <input class="form-control" name="name" type="text" required />
                                                    <span class="alert alert-danger">Invalive name please try again</span>
                                                </div> 
                                                <div class="form-group">
                                                        <label class="form-inline">Mobile</label>
                                                        <input class="form-control" name="name" type="tel" required />
                                                        <span class="alert alert-danger">Invalive mobile no</span>
                                                </div> 
                                                <div class="form-group">
                                                    <button href="#" class="btn btn-default continueBtn">Continue</button>
                                                </div>             
                                            </div>
                                            <div class="card2">
                                                <br>
                                                    <small>Unfortunately we are not online right now. Leave us a message and we'll get back to you as soon as possible!</small>                                                
                                                    <br>
                                                    <div class="form-group">                                                
                                                    <br>
                                                    <label class="form-inline">Message</label>
                                                    <textarea class="form-control" placeholder=""></textarea>                                                
                                                </div>
                                                <div class="form-group">
                                                    <button href="#" class="btn btn-default">Send &nbsp;<i class="fa fa-paper-plane-o"></i></button>
                                                </div>             
                                            </div>                
                                                <!-- <div class="row">
                                                    <div class="btnWrapper text-center col-sm-12">
                                                        <input class="btn btn-default" type="submit" value="" />
                                                    </div>                                               
                                                </div> -->
                                        </div>
                                    </div>
    
                                </form>
                            </div>
                            <!-- chat box for query Ends -->
                        <a href="#">
                            <p class="needHelp">Need Help? Chat with Us</p>
                        </a>
                    </div>
                    <div class="col-md-6 text-right">
                        <ul class="socialLinks">
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--    footer Ends-->
    <script src="../assets/js/jquery-3.2.1.min.js"></script>
    <script src="../assets/js/popper.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>  
    <script src="../assets/js/slick.min.js"></script>
    <script src="../assets/js/aos.js"></script>    
    <script src="../assets/js/custom.js"></script>

    <!-- The Login Modal -->
    <div class="modal fade" id="login">
        <div class="modal-dialog">
            <figure class="text-center">
                <img class="popupLogo" src="../assets/images/popup_logo.png" />
            </figure>
            <div class="modal-content">
                <!-- Modal Header -->
                <!-- <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div> -->

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="index.html" method="post" class="formBox">
                        <div class="form-group">
                            <label class="form-inline">Email Id</label>
                            <input class="form-control" name="email" type="email" required />
                            <span class="alert alert-danger">Invalive value</span>
                        </div>
                        <div class="form-group">
                            <label class="form-inline">Password</label>
                            <input class="form-control" name="password" type="password" required />
                            <span class="alert alert-danger">Invalive pass</span>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="rememberme" />
                                <span>Remember Me</span>
                            </label>
                        </div>
                        <div class="row">
                            <div class="btnWrapper text-center col-sm-12">
                                <input class="btn btn-default" type="submit" />
                            </div>
                            <div class="col-sm-6 text-left"><a href="forgatePassword.html">Forget Password</a></div>
                            <div class="col-sm-6 text-right"><a href="#">New User?</a></div>
                        </div>                        
                    </form>
                </div>

                <!-- Modal footer
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>         -->
            </div>
            <div class="clearfix"></div>
            <a href="#" class="close backtoHome" data-dismiss="modal">
                <img src="../assets/images/arrow-left.png" alt="bkhome" />&nbsp; Back to Easy-tutor</a>
        </div>
    </div>   
   
		
</body>

</html>